<a href="https://colab.research.google.com/github/paulosrl/NotebooksGoogleColab/blob/main/Introdu%C3%A7%C3%A3o_a_Programa%C3%A7%C3%A3o_com_a_Linguagem_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Programando em Python no ambiente Google Colaboratory
---
Desenvolvimento: [Prof. Paulo Lima](https://paulolima.net.br)

##01.A linguagem Python##

**Python** é uma linguagem de programação que permite desenvolver aplicações para jogos, web, computadores desktop além de dispostivos dispositivos móveis. A linguagem foi concebida no final de 1989 por Guido van Rossum no Instituto de Pesquisa Nacional para Matemática e Ciência da Computação (CWI), nos Países Baixos.

Atualmente, possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation.

<center><img src="https://github.com/paulosrl/imagens/blob/master/Guido.jpg?raw=true" height="300px">

**[Guido van Rossum](https://www.unixmen.com/guido-van-rossum-python-creator/)**, criador da linguagem Python
</center>

### **Ambiente de programação em nuvem Google Colaboratory**


<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>Google Colaboratory / Colab ?</h1>

Permite escrever código **Python** no seu navegador, sem a necessidade de configuração local, acesso gratuito a GPUs* e de fácil compartilhamento.

(*) A unidade de processamento gráfico, ou [GPU](https://www.intel.com/content/www/us/en/products/docs/processors/what-is-a-gpu.html), tornou-se um dos tipos mais importantes de tecnologia de computação, tanto para computação pessoal quanto empresarial. Projetada para processamento paralelo, a GPU é usada em uma ampla gama de aplicações, incluindo gráficos e renderização de vídeo. Embora sejam mais conhecidos por suas capacidades em jogos, as GPUs estão se tornando mais populares para uso em produção criativa e inteligência artificial (IA).

Você pode ser um <strong>estudante</strong>, um <strong>cientista de dados</strong> ou um <strong>pesquisador de IA</strong>, o Colab pode facilitar seu trabalho. Assista ao vídeo <a href="https://www.youtube.com/watch?v=inN8seMm7UI">Introdução ao Colab</a> para saber mais ou simplesmente comece a usá-lo abaixo!

<strong>Conhecendo o ambiente</strong>

O documento que você está lendo não é uma página da Web estática, mas sim um ambiente interativo chamado <strong>notebook Colab</strong> que permite escrever e executar código.

Por exemplo, aqui está uma <strong>célula de código</strong> com um breve script Python que calcula um valor, armazena-o em uma variável e imprime o resultado:

In [ ]:
segundos_em_um_dia = 24 * 60 * 60
segundos_em_um_dia

86400

Para executar o código na célula acima, clique nela e depois pressione o botão Play à esquerda do código ou use o atalho do teclado "Command/Ctrl+Enter". Para editar o código, basta clicar na célula e começar a editar.

As variáveis definidas em uma célula podem ser usadas mais tarde em outras células:

In [ ]:
segundos_em_uma_semana = 7 * segundos_em_um_dia
segundos_em_uma_semana

604800

Os notebooks do Colab permitem combinar <strong>código executável</strong> e <strong>rich text</strong> em um só documento, além de <strong>imagens</strong>, <strong>HTML</strong>, <strong>LaTeX</strong> e muito mais. Quando você cria seus próprios notebooks do Colab, eles são armazenados na sua conta do Google Drive. É possível compartilhar os notebooks do Colab facilmente com colegas de trabalho ou amigos e permitir que eles façam comentários ou até editem o documento. Para saber mais, consulte a <a href="/notebooks/basic_features_overview.ipynb">Visão Geral do Colab</a>. Para criar um novo notebook do Colab, use o menu Arquivo acima ou acesse o seguinte: <a href="http://colab.research.google.com#create=true">criar um novo notebook do Colab</a>.

Os notebooks do **Colab** são notebooks do **Jupyter** hospedados no Colab. Para saber mais sobre o projeto Jupyter, acesse <a href="https://www.jupyter.org">jupyter.org</a>.

## 02.Tipos de Dados, Identificadores e Operadores

### **Indentificadores**

**Identificador** é o nome dado as variáveis, constantes e funções.

Em **Python**, um identificador pode conter **apenas**:

1.   As letras de A a Z (maiúsculas e minúsculas, sem acentuação)
2.   Os dígitos de 0 a 9
3.   O símbolo underscore _

Um identificador deve começar obrigatoriamente com uma letra ou underscore.

**Regras para formatação de Identificadores**

Não devem conter espaços, caracteres especiais (@, !, *, -, &, ˜, etc) ou letras acentuadas (é, à, ã, ç, í, ö, ü, û, etc..).;

Python faz diferenciação entre maiúsculas e minúsculas.

Portanto, os caracteres permitidos em identificadores são:

`ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_0123456789`

Exemplo: **MediaFinal** é diferente de **mediafinal**, que é diferente de **MEDIAFINAL**.

**Exemplos de identificadores válidos**: i, _J, FRUTA, salario, A12, i23ER21

**Exemplos de identificadores inválidos**: 25, nome-fruta, salário, 5Jose, A$1,Nome do aluno

**Boas práticas para nomes de identificadores**

*   Um identificador deve ser não apenas válido, mas também significativo/adequado;
*   Um identificador deve descrever precisamente o dado que a variável armazena,

**Exemplos de bons identificadores**

1.   nome
2.   preco_de_custo
1.   nome_aluno
2.   data_nascimento
1.   sobre_nome
2.   endereco_completo

**Exemplos de identificadores ruins**

1.   x
2.   var1
1.   teste1
2.   valor
1.   abc
2.   temp123

### **Variável**

Uma **variável** é um espaço reservado na memória do computador (memória RAM) capaz de armazenar um valor ou uma expressão. Variáveis devem receber nomes (**identificadores**) para poderem ser referenciadas e modificadas quando necessário.

**Atributos de uma variável**

**Tipo:**Inteiro (int), real (float), lógico (bool) ou string (str);

**Identificador:** apenas letras, números e underscore, iniciando com letra ou underscore;

**Criação de variáveis em Pyhton**

Para criar uma variável em Python basta atribuir um valor conforme a sintaxe a seguir:

**variavel = expressão**

Exemplos:

*    nome = "Bernardo"
*    nota_final = 10.0
*    aprovado=True
*    semestre=1

**Expressão** pode ser um valor, uma outra variável, uma expressão aritmética ou o retorno de uma função.

O **tipo da variável** é definido **dinamicamente** conforme o tipo do valor atribuído.

**Criando variáveis**

Variáveis em Python **não são declaradas** como em outras linguagens (como: Pascal, C, C++, Java, etc),  as variáveis são **criadas** a partir da atribuição de um valor a uma variável ou expressão. O comando de atribuição, representado pelo sinal de igualdade (**=**), é o responsável por atribuir (ou armazenar) um valor em uma variável.

Vejamos agora alguns exemplos:

**Comentários no Programa Python**

Algumas vezes é necessário inserir comentários para documentar um programa. Para escrever um comentário deve-se iniciá-lo com o caractere "#", caso o comentário seja de uma linha apenas.

**Exemplo:**

media_final = (p1+p2+p3) / 3 **# calcula a média final**

Os comentários não farão parte da execução do programa, é apenas um recurso para que o programador documente o que está fazendo dentro do programa.

Caso deseje comentários com mais de uma linha eles devem iniciar por três aspas duplas e finalizar também com três aspas duplas.

**Exemplo:**

"""
Este programa

faz a leitura de um arquivo de notas

de 100 alunos e calcula a média da

turma

"""

In [ ]:
#comentário de uma linha 1 use "#" no início do comentário
#comentário dois
# a seguir comentário em mais de uma linha, usado: """

"""
Comentário de mais
de uma linha
"""

'\nComentário de mais\nde uma linha\n'

#### <font color='#A9C9FC'> Exemplo-001: Criando variáveis</font>
---

In [ ]:
#criando a variável idade
idade = 22

In [ ]:
#exibindo o conteúdo da variável idade
idade

22

In [ ]:
#calcula media entre Nota1 e Nota2
Nota1 = 7
Nota2 = 9
Media = (Nota1 + Nota2)/2
Media

8.0

In [ ]:
#criando a variável sobreNome
sobreNome = 'Lima'

In [ ]:
#exibindo o conteúdo da variável sobreNome
sobreNome

'Lima'

In [ ]:
#criando a variável aprovado
aprovado = True

In [ ]:
#exibindo o conteúdo da variável aprovado
aprovado

True

#### Exibindo o valor de uma variável ou expressão

Como já visto anteriormente, é possível exibir o valor de uma variável escrevendo apenas o seu nome. Este formato é bastante limitado, pois não permite formatações adicionias, uma vez que exibe apenas o conetúdo da variável.

Quando é necessário escrever o conteúdo de mais de uma variável este formato torna-se limitado, pois só é possível escrever apenas um conteúdo de cada vez.

Exemplo:

Escrevendo o conteúdo da variável **nome** e **dia**.

In [ ]:
nome = "Bernardo"
nome
dia = 17
dia

17

Observe que não foi exibido o conbteúdo da variável nome, apenas o conteúdo da variável dia foi escrito, para que fosse possível escrever os dois conteúdos seria necessário utilizar um método em Python chamado ***print***.

Quando usamos o método print com uma variável entre parênteses, ele imprime o conteúdo dessa variável, ou seja, o valor que está armazenado dentro dela.

Nós podemos montar mensagens um pouco mais sofisticadas juntando texto e variáveis em um único comando print().

In [ ]:
diaNascimento = 17
nome="Bernardo"
sobreNome="Lima"
print(diaNascimento)
print(nome)
print(sobreNome)

17
Bernardo
Lima

In [ ]:
diaNascimento = 17
nome="Bernardo"
sobreNome="Lima"
print("Nome:",nome,"Sobrenome:",sobreNome,"Dia nascimento:",diaNascimento)

Nome: Bernardo Sobrenome: Lima Dia nascimento: 17

Em Python utiliza-se o método  ***print*** para impressão de valores, variáveis e expressões.

Já nesse exemplo, ao executar o comando *print(sobrenome)*, o resultado apresentado foi o nome `Rodrigues Lima`.

A diferença é que no primeiro exemplo pedimos para o Python imprimir o **texto** `'sobrenome'`, enquanto que no segundo pedimos ao Python para imprimir o conteúdo da variável `sobrenome`. A diferença está no apóstrofo (ou, como alguns costumam chamar, aspas simples). A presença de apóstrofos indica um texto, enquanto que a falta deles indica que se deseja imprimir uma variável.

In [ ]:
print(idade)

22

In [ ]:
print(aprovado)

True

In [ ]:
print('Sobrenome: '+sobreNome)

Sobrenome: Lima

In [ ]:
# Podemos também usar a vírgula ao invés do símbolo +
print('Sobrenome:',sobreNome)

Sobrenome: Lima

In [ ]:
# A forma mais utilizada na versão 3 do Python, entretanto, é usar o método format.
print('O sobrenome do aluno é {}, que está com {} anos de idade'.format(sobreNome, idade))

O sobrenome do aluno é Lima, que está com 22 anos de idade

###**Operadores**

#### <font color='#A9C9FC'> Exemplo-002: Operadores aritméticos</font>
---
**Operadores aritméticos**


| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
|     +    | Adição        | a = 3 + 2                  |
|     -    | Subtração     | b = 7 - a                  |
|     *    | Multiplicação | c = a * b                  |
|     /    | Divisão       | d = 10/3                   |
|    //    | Quociente     | e = 10//3                  |
|     %    | Resto         | f = 10%3                   |
|    **    | Exponenciação | g = 2 ** 3                 |
|    **    | Radiciação    | h = 16 ** (1/2)            |

**Precedência de Operadores**

1. Parênteses
2. Potenciação
3. Multiplicação e divisão
4. Soma e substração

**Exemplo 002 – Operadores**

In [ ]:
# Adição
3 + 2

5

In [ ]:
# Subtração
7-5

2

In [ ]:
# Multiplicação
2 * 3

6

In [ ]:
3 * 3.5

10.5

In [ ]:
4 * 5.0

20.0

In [ ]:
# Divisão
9 / 3

3.0

In [ ]:
10 / 3

3.3333333333333335

In [ ]:
9 / 3.0

3.0

In [ ]:
# Divisão - calculando o coeficiente
5 // 2

2

In [ ]:
# Divisão - calculando o coeficiente
5.0 // 2

2.0

In [ ]:
# Divisão - calculando o coeficiente
4 // 1.2

3.0

In [ ]:
# Divisão - calculando o resto
5 % 2

1

In [ ]:
# Divisão - calculando o coeficiente
9 % 2.5

1.5

In [ ]:
# Potenciação: (1) Exponenciação e (2) Radiciação
# (1) Exponenciação
3 ** 2

9

In [ ]:
2 ** 10

1024

In [ ]:
# (2) Radiciação
# Raiz quadrada de 9
9 ** (1/2)

3.0

In [ ]:
# Raiz quadrada de 16 (elevando a 0.5 ao invés da fração 1/2)
16 ** 0.5

4.0

In [ ]:
# Raiz cúbica de 27
27 ** (1/3)

3.0

In [ ]:
# Divisão - calculando o coeficiente
1015 // 60

16

In [ ]:
# resto da divisão
1015 % 60

55

In [ ]:
2 + 4 / 2

4.0

In [ ]:
(2 + 4) / 2

3.0

**Exercício**

Converter as equações em expressões aritméticas válidas no Python.

Eq1.

$ 2+3*4/5-6 $

In [ ]:
2 + 3 * 4 / 5 - 6

-1.5999999999999996

Eq2.

$ (2+3)*4/(5-6)$

In [ ]:
(2 + 3) * 4 / (5 - 6)

-20.0

Eq3. $ \sqrt{\frac{(2-3)^{2}}{4}}$

In [ ]:
((2-3)**2/4)**(1/2)

0.5

#### <font color='#A9C9FC'> Exemplo-003: Atribuição cumulativa de valores numéricos em uma variável</font>
---

#### **Operadores de atribuição cumulativa**


| Operador | Exemplo | Significado |
|:---|:---|:---|
|     =    | a = 5 | Atribuição simples |
| += | a += 2 | a = a + 2 |
| -= | a -= 2 | a = a - 2 |
| \*= | a \*= 2 | a = a \* 2 |
| /= | a /= 2 | a = a / 2 |
| //= | a //= 2 | a = a // 2 |
| %= | a %= 2 | a = a % 2 |
| \*\*= | a \*\*= 2 | a = a \*\* 2 |

In [ ]:
#usando o método print para exibir o valor da variável "a"
a = 5
a

5

In [ ]:
a += 2
a

7

In [ ]:
a -= 2
a

5

In [ ]:
a *= 2
a

10

In [ ]:
a /= 2
a

5.0

In [ ]:
a = 7
a //= 2
a

3

In [ ]:
a = 7
a %= 2
a

1

In [ ]:
a = 3
a **= 2
a

9

#### **Operadores relacionais (operadores de comparação**)

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| == | Igualdade | a == b |
| != | DesiIgualdade | a != b |
| > | Maior que | a > b |
| < | Menor que | a < b |
| >= | Maior ou igual | a >= b |
| <= | Menor ou igual | a <= b |

In [ ]:
a = 5
b = 3
a == b

False

In [ ]:
a != b

True

In [ ]:
a > b

True

In [ ]:
a < b

False

In [ ]:
a >= b

True

In [ ]:
b <= a

True

#### **Operadores lógicos (conectivos lógicos**)

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| and | **E** lógico | a == b and b == c |
| or | **OU** lógico | a == b or b == c |
| ^ | **OU** exclusivo (XOR) | a == b ^ b == c |
| not | Negação (inverte o resultado lógico) | not(a == b and b == c) |

### Tabela verdade (AND)

| a | b | a and b |
|:--:|:--:|:--:|
| True  | True  | **True** |
| True  | False | False |
| False | True  | False |
| False | False | False |

| a | b | c | a and b and c |
|:--:|:--:|:--:|:--:|
| True  | True  | True  | **True** |
| True  | True  | False | False |
| True  | False | True  | False |
| True  | False | False | False |
| False | True  | True  | False |
| False | True  | False | False |
| False | False | True  | False |
| False | False | False | False |

### Tabela verdade (OR)

| a | b | a and b |
|:--:|:--:|:--:|
| True  | True  | **True** |
| True  | False | **True** |
| False | True  | **True** |
| False | False | False |

### Tabela verdade (XOR)

| a | b | a ^ b |
|:--:|:--:|:--:|
| True  | True  | False |
| True  | False | **True** |
| False | True  | **True** |
| False | False | False |

### Tabela verdade (NOT)
| a | not(a) |
|:--:|:--:|
| True  | False |
| False | **True** |

In [ ]:
# TABELA DO AND (com 2 booleanos)
print(" x     | y     | x and y ")
print("-------------------------")
print(" True  | True  |", True and True )
print(" True  | False |", True and False )
print(" False | True  |", False and True)
print(" False | False |", False and False)

 x     | y     | x and y
-------------------------
 True  | True  | True
 True  | False | False
 False | True  | False
 False | False | False

In [ ]:
# TABELA DO AND (com 3 booleanos)
print(" x     | y     | z     |  x and y and z ")
print("----------------------------------------")
print(" True  | True  | True  |",True and True and True)
print(" True  | True  | False |",True and True and False)
print(" True  | False | True  |",True and False and True)
print(" True  | False | False |",True and False and False)
print(" False | True  | True  |",False and True and True)
print(" False | True  | False |",False and True and False)
print(" False | False | True  |",False and False and True)
print(" False | False | False |",False and False and False)

 x     | y     | z     |  x and y and z
----------------------------------------
 True  | True  | True  | True
 True  | True  | False | False
 True  | False | True  | False
 True  | False | False | False
 False | True  | True  | False
 False | True  | False | False
 False | False | True  | False
 False | False | False | False

In [ ]:
# TABELA DO OR
print(" x     | y     | x or y ")
print("-------------------------")
print(" True  | True  |",True or True )
print(" True  | False |",True or False )
print(" False | True  |",False or True)
print(" False | False |",False or False)

 x     | y     | x or y
-------------------------
 True  | True  | True
 True  | False | True
 False | True  | True
 False | False | False

In [ ]:
# TABELA DO XOR (EXCLUSIVE OR)
print(" x     | y     | x ^ y ")
print("-------------------------")
print(" True  | True  |",True ^ True )
print(" True  | False |",True ^ False )
print(" False | True  |",False ^ True)
print(" False | False |",False ^ False)

 x     | y     | x ^ y
-------------------------
 True  | True  | False
 True  | False | True
 False | True  | True
 False | False | False

In [ ]:
# TABELA DO NOT
print(" x     | not(x) ")
print("-"*15)
print(" True  |",not(True))
print(" False |",not(False))

 x     | not(x)
---------------
 True  | False
 False | True

#### **Operadores de identidade**

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| is | Verifica se duas referências apontam para o mesmo objeto | a is b |
| is not | Verifica se duas referências apontam para diferentes objetos | a is not b |

In [ ]:
a = 5
b = 5
c = a
print("a is b = ", a is b)
print("a is c = ", a is c)
print("b is c = ", b is c)
print("a is not b = ", a is not b)
print("a is not c = ", a is not c)
print("b is not c = ", b is not c)

a is b =  True
a is c =  True
b is c =  True
a is not b =  False
a is not c =  False
b is not c =  False

### **Expressões**

É um conjunto de valores, variáveis, operadores e funções. Expressões são utilizadas para realizar cálculos aritméticos e lógicos. Ao final produz um valor que ficará armazenado em uma **variável**.

Exemplo a seguir:

####**Recebendo os valores via variável**

Quando recebemos os valores que são atribuídos diretamente a uma variável, é necessário que o programador altere o programa todas as vezes que precisar mudar os valores que estão sendo analisados, não há interação entre o usuário e o programa, os valores são inseridos pelo programador.

#### <font color='#A9C9FC'> Exemplo-004: Expressões</font>
---

In [ ]:
quantidade = 5
preco_custo = 27
valor_notaFiscal = quantidade * preco_custo * 1.3
#valor da nota calculado com a expressão
print("Valor nota = ",valor_notaFiscal)

Valor nota =  175.5

In [ ]:
# Exemplo - Cálculo do Delta
a = 2
b = 4
c = -6
delta = b ** 2 - 4 * a * c
print("Delta =", delta)

Delta = 64

### **Tipos de Dados**

#### <font color='#A9C9FC'> Exemplo-005: Tipos de Dados em Python</font>
---

O tipo é uma forma de classificar as informação. As linguagens de programação normalmente trazem implementado o que é chamado de tipos primitivos, isto é, o tipo de dado mais genérico possível.

Toda informação que manipularemos será, por definição, de um tipo. Os computadores manipulam bits. Quando manipulamos letras estamos trabalhando também com bits, porém, numa camada acima. Então, vamos definir agora, que num primeiro momento, toda informação é de fato um caractere, seja ele uma letra, um número, um simbolo ou então, um caractere especial.

Fonte: https://medium.com/analytics-vidhya/data-types-in-python-506009234f89

**Tipos Primitivos**

A documentação do Python não trata os tipos de dados elementares (primitivos) com a nomenclatura normalmente encontrada na documentação da maioria das linguagens: Tipo Primitivo, na documentação oficial são chamados de tipos built-ins ou então, tipos construídos. Aqui trataremos como tipos primitivos apenas para facilitar o entendimento e a classificação.

Tipo Primitivo são os tipos de dados mais simples, isto é, a informação em sua forma mais primitiva. Bons exemplos de valores primitivos são os caractere, os número, o valor True e o False e etc.

É normal que as linguagens de programação tenham um conjunto de tipos chamados de: tipos primitivos. Devemos pensar nessa classificação como sendo os tipos primários de informações, como por exemplo, o tipo numérico. Como sabemos, todo número é constituído por algarismos. Dessa forma, o tipo numérico pode ser qualquer valor que seja composto por 1 ou mais caracteres numéricos.

Da mesma forma, temos o tipo de dado que representa conjuntos de caracteres, que na programação, é comumente chamado de String e o Python o chama de str. As String são capazes de armazenar conjuntos de caracteres que estão dispostos numa determinada ordem. Todas as vezes que estivermos manipulando dados que contenha caracteres - o tipo mais primitivo, isto é, a maneira mais abstrata para representarmos caracteres - estaremos utilizando uma variável definida como sendo do tipo str.

Vamos considerar como tipo de dados primitivos em Python: Strings (texto), Number (números inteiros e reais) e Boolean (lógicos). A figura a seguir mostra todos os tipos de dados existentes em Python.

**Estruturas de dados**

São entidades (objetos virtuais) que armazenam dados de forma eficiente, oferecendo certos “serviços” para o usuário (ordenação eficiente dos dados, busca por meio de palavras chave, etc). Essas estruturas armazenam os dados primitivos e algumas dessas estruturas podem armazenar também outras estruturas de dados.

Usando estruturas de dados adequadas, podemos administrar uma grande quantidade de dados de forma eficiente, com aplicações em bancos de dados ou serviços de busca e indexação de dados, e no desenvolvimento de algoritmos eficientes.

Nos tópicos a seguir serão abordadas as estruturas de dados em Python,  representadas por Listas (**list**), Tuplas (**tuple**), Conjuntos (**sets**) e Dicionários (**dict**)


<center><img src="https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg"

</center>

**Exemplos**

<center><img src="https://miro.medium.com/max/700/1*QfI8H_8HplGa1v9IrrWjBA.png">
</center>

Referência: http://excript.com/python/tipos-de-dados-python.html, https://www.geeksforgeeks.org/python-data-types/

**Exibindo o tipó de dados de uma variável**

In [ ]:
#exibindo o tipo de dados da variável idade
type(idade)

int

In [ ]:
#exibindo o tipo de dados da variável aprovado
type(aprovado)

bool

####**Dados numéricos em Python**

##### **Números inteiros (int)**

Admitem somente números inteiros. Geralmente utilizado para representar uma contagem (quantidade). O conjunto dos números inteiros em algoritmos é formado pelos números naturais (todos os números inteiros positivos incluindo o zero) e pelos números próprios números inteiros (todos os números inteiros positivos e negativos incluindo o zero).

Exemplo: **{...,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7...}**

Em Python **números inteiros** são representados pelo tipo de dados **int**.

Exemplo:

In [ ]:
# criação de variável inteira (int) quantidade
quantidade = 5
type(quantidade) # exibindo o tipo da variável

int

In [ ]:
quantidade

5

##### **Números Reais (float)**

Utilizado, normalmente, para representar uma medição. Os números reais podem possuir componentes decimais ou fracionários, podem também ser positivos ou negativos.

Exemplo: **{-13.23, 0.0, 4.003,-3.0,0.0001}**

Em Python **números reais** são representados pelo tipo de dados **float**.

Exemplo:

In [ ]:
# criação de variável real (float) preco_custo
preco_custo=89.50
type(preco_custo)

float

In [ ]:
preco_custo

89.5

####**Dados não numéricos em Python**

##### **Textos / Strings (str)**

Este tipo de dados admite caracteres alfanuméricos. Os números quando declarados como caracteres tornam se apenas **representativos** e perdem a atribuição de valor. Um dado do tipo caractere sempre aparece entre aspas, e pode ser uma letra, um número, um símbolo ou um caractere especial.

Exemplo: {"A", "ABC","7","7.13","0.0001","B.A.L.17.07.14", "1-2+3="}

Em Python **string** são representados pelo tipo de dados **str**.

Exemplo:

In [ ]:
# criação de variável string (str) nome
nome="Bernardo"
type(nome)

str

In [ ]:
nome

'Bernardo'

#### **Dados Lógicos ou Booleanos (bool)**

O tipo de dados bool (lógico) é usado para representar dois únicos valores lógicos possíveis, que são: verdadeiro (True) e falso (False).

Em Python números inteiros são representados pelo tipo de dados **bool**

Exemplo:

In [ ]:
# criação de variável booleana (bool)
possui_carro = True
type(possui_carro)

bool

In [ ]:
possui_carro

True

### Recebendo valores pelo teclado

É possível receber os valores diretamente do teclado em Python, e usar esses valores recebidos em variáveis. Como no exemplo a seguir.

#### <font color='#A9C9FC'> Exemplo-006: Recebendo valores pelo teclado</font>
---

**Exemplo:** Cálculo do volume de um cilindro.


![formula-para-o-volume-do-cilindro.png]()

In [ ]:
# leitura do raio e da altura
# float deve ser usado para informar que o número lido poderá ter uma parte decimal
r = float(input("Informe o valor do raio: "))
h = float(input("Informe o valor da altura: "))
pi = 3.14
# cálculo do volume
v = pi * r**2 * h
print("Volume do Cilindro =",v)

KeyboardInterrupt: ignored

#### <font color='#A9C9FC'> Exemplo-007: Cálculo da área e perímetro do retângulo</font>
---
$area = base \times altura$

$ perímetro = 2 \times (base + altura)$

In [ ]:
base = float(input("Digite o valor do base: "))
altura = float(input("Digite o valor do altura: "))

area = base * altura
perimetro = 2 * area
print("Perímetro = ",perimetro)
print("Área = ",area)

#### <font color='#A9C9FC'> Exemplo-008: Cálculo da área e comprimento da circunferência</font>
---
$ area = \pi \times raio^{2} $

$ comprimento = 2 \times \pi * raio $

In [ ]:
raio = float(input("Digite o valor do raio: "))
area = 3.14159 * raio ** 2
comprimento = 2 * 3.14159 * raio
print('Raio = ', raio)
print('Área = ', area)
print('Comprimento = ', comprimento)

#### <font color='#A9C9FC'> Exemplo-009: Cálculo da distância euclidiana entre 2 pontos no plano cartesiano</font>
---
$ distância = \sqrt{(x_{1}-x_{2})^{2} + (y_{1}-y_{2})^{2}} $

In [ ]:
# Calculando a distância entre os pontos (3,4) e (5,6)
x1 = float(input("Digite o valor do X1: "))
y1 = float(input("Digite o valor do Y1: "))
x2 = float(input("Digite o valor do X2: "))
y2 = float(input("Digite o valor do Y2: "))
dist = ((x1-x2)**2 + (y1-y2)**2)**(1/2)
print('A distância entre os pontos({},{}) e ({},{}) = {}.'.format(x1, y1, x2, y2, dist))

Digite o valor do X1: 1
Digite o valor do Y1: 1
Digite o valor do X2: 15
Digite o valor do Y2: 17
A distância entre os pontos(1.0,1.0) e (15.0,17.0) = 21.2602916254693.

#### <font color='#A9C9FC'> Exemplo-010: Cálculo do delta e das raízes de uma equação do segundo grau</font>
---
$ \Delta = b^{2} - 4ac $
$ x = \frac{-b \pm \sqrt{\Delta}}{2a} $

In [ ]:
# Calculando o Delta e raízes x1 e x2 para a equação y = x^2 - 5x + 6
a = int(input("Digite o valor do A: "))
b = int(input("Digite o valor do B: "))
c = int(input("Digite o valor do C: "))
#a = 1 b = -5 c = 6
delta = b**2 - 4*a*c
x1 = (-b+delta**(1/2))/(2*a)
x2 = (-b-delta**(1/2))/(2*a)
print('Delta = {}, x1 = {} e x2 = {}'.format(delta, x1, x2))

#### <font color='#A9C9FC'> Exemplo-011: Cálculo da área do setor circular (fatia de um círculo)</font>
---
$ S = \frac{\alpha \pi r^{2}}{360} $

In [ ]:
# Para um círculo de raio 15, calcular a área de uma fatia com angulo = 45 graus (um pizza)
# Isso equivale a calcular a área de uma das 8 fatias de uma pizza com 30 cm de diâmetro
a = float(input("Digite o valor do a: "))
raio = float(input("Digite o valor do B: "))
#a = 45 raio = 15
s = (a * 3.14159 * raio ** 2)/360
print('Num círculo de raio {}cm, o setor circular de ângulo {} terá área = {} cm^2.'.format(raio,a,s))

## **03. Estruturas condicionais**

###Estrutura condicional simples

```
if (condição):
    comando1
    comando2
```

#### <font color='#A9C9FC'> Exemplo-012: Estrutura condicional simples </font>
---

In [ ]:
n1 = float(input("Digite a 1a nota: "))
n2 = float(input("Digite a 2a nota: "))
media = (n1+n2)/2
if media>=7:
  print("Aluno aprovado por média")

###Estrutura condicional composta

```
if (condição):
    comando1
else:
    comando2
```

#### <font color='#A9C9FC'> Exemplo-013: Estrutura condicional composta</font>
---

In [ ]:
n1 = float(input("Digite a 1a nota: "))
n2 = float(input("Digite a 2a nota: "))
media = (n1+n2)/2
if media>=7:
  print("Aluno aprovado por média")
else:
  print("Aluno precisará fazer a prova final")

###Estrutura condicional encaixada ou encadeada

```
if (condição):
    comando1
else:
    if (condição2):
       comando2
    else:
        if (condição3):
           comando3
```

#### <font color='#A9C9FC'> Exemplo-014: Estrutura condicional encaixada ou encadeada</font>
---

O programa lê a nota final do aluno. Após a leitura verifica se é maior ou igual a 8, em caso afirmativo solicita a idade do aluno.
Se a idade for maior ou igual a 23 mostrar a mensagem
"Selecionado para o grupo 1.", caso contrário mostrar a mensagem
"Selecionado para o grupo 2.".
Caso a nota lida no início seja menor que 8 mostrar a mensagem
"Candidato não selecionado.".

In [ ]:
notaFinal = float(input("Informe a nota final do aluno:"))
if notaFinal>=8:
    idade = int(input("Informe a idade: "))
    if (idade>=23):
        print("Selecionado para o grupo 1")
    else:
        print("Selecionado para o grupo 2")
else:
    print("Candidato não Selecionado")

#### <font color='#A9C9FC'> Exemplo-015: Estrutura condicional encaixada ou encadeada</font>
---

Se a nota final for menor que 5.0, o conceito será "INSUFICIENTE";

Se a nota final for maior ou igual 5.0 e menor que 7.0 o conceito será "REGULAR";

Se a nota final for maior ou igual a 7.0 e menor que 9.0 o conceito será "BOM";

Se a nota final for maior ou igual a 9.0 o conceito será "EXCELENTE".

In [ ]:
notaFinal = float(input("Digite o valor da Nota Final: "))
if notaFinal<5:
  print ("INSUFICIENTE")
else:
  if notaFinal<7:
    print ("REGULAR")
  else:
    if notaFinal<9:
      print ("BOM")
    else:
      print ("EXCELENTE")

### Estrutura condicional com múltiplas condições
```
if (condição1):
    comando1
elif (condição2):
    comando2
    comando3
...
elif (condiçãon):
    comandoN
else:
    comandoX
```

#### <font color='#A9C9FC'> Exemplo-016: Estrutura condicional com múltiplas condições</font>
---

In [ ]:
notaFinal = float(input("Digite o valor da Nota Final: "))
if notaFinal<5:
  print ("INSUFICIENTE")
elif notaFinal<7:
  print ("REGULAR")
elif notaFinal<9:
  print ("BOM")
else:
  print ("EXCELENTE")

###Estrutura condicional sem operadores lógicos

#### <font color='#A9C9FC'> Exemplo-017: Estrutura condicional sem operadores lógicos</font>
---
O programa abaixo solicita que o usuário digite 3 lados de um suposto triângulo. Depois de receber os valores dos 3 lados, ele verifica se os 3 lados formam ou não formam um triângulo.

In [ ]:
a = float(input("Digite o 1o lado do triângulo: "))
b = float(input("Digite o 2o lado do triângulo: "))
c = float(input("Digite o 3o lado do triângulo: "))
if (a<b+c):
    if (b<c+a):
        if (c<a+b):
            print("Os lados formam um triângulo")
        else:
            print("Erro - Lado C")
    else:
        print("Erro - Lado B")
else:
        print("Erro - Lado A")

###Estrutura condicional com operadores lógicos

#### <font color='#A9C9FC'> Exemplo-018: Estrutura condicional com operadores lógicos</font>
---

O programa abaixo solicita que o usuário digite 3 lados de um suposto triângulo. Depois de receber os valores dos 3 lados, ele verifica se os 3 lados formam ou não formam um triângulo.

In [ ]:
a = float(input("Digite o 1o lado do triângulo: "))
b = float(input("Digite o 2o lado do triângulo: "))
c = float(input("Digite o 3o lado do triângulo: "))

if (a<b+c) and (b<a+c) and (c<a+b):
    print("Os lados {}, {} e {} formam um triângulo".format(a, b, c))
else:
    print("Os lados {}, {} e {} NÃO formam um triângulo".format(a, b, c))

### Exemplos

#### <font color='#A9C9FC'> Exemplo-019: Cálculo do IMC - Índice de Massa Corporal</font>
---

O IMC é calculado através da equação $ IMC = \frac{peso}{altura^2} $.

Após o cálculo do índice, podemos verificar a situação da pessoa através da tabela abaixo.

|         IMC        |         Situação        |
|:------------------:|:-----------------------:|
| Abaixo de 20       | Abaixo do peso          |
| Entre 20 e 24,99   | Peso normal             |
| Acima de 25        | Acima do peso           |

In [ ]:
peso = float(input("Digite seu peso: "))
altura = float(input("Digite sua altura: "))
imc = peso / altura ** 2
if imc < 20:
    print("Seu peso está abaixo do ideal. Seu IMC = {}.".format(imc))
else:
    if imc >= 20 and imc<=25:
        print("Seu peso está dentro da faixa ideal. Seu IMC = {}.".format(imc))
    else:
        print("Seu peso está acima do ideal. Seu IMC = {}.".format(imc))

#### <font color='#A9C9FC'> Exemplo-020: Cálculo do IMC para diversas classes</font>
---
O IMC é calculado através da equação $ IMC = \frac{peso}{altura^2} $.

Após o cálculo do índice, podemos verificar a situação da pessoa através da tabela abaixo.

|         IMC        |         Situação        |
|:------------------:|:-----------------------:|
| Abaixo de 17       | Muito abaixo do peso    |
| Entre 17 e 18,49   | Abaixo do peso          |
| Entre 18,5 e 24,99 | Peso normal             |
| Entre 25 e 29,99   | Acima do peso           |
| Entre 30 e 34,99   | Obesidade I             |
| Entre 35 e 39,99   | Obesidade II (severa)   |
| Acima de 40        | Obesidade III (mórbida) |

In [ ]:
peso = float(input("Digite seu peso: "))
altura = float(input("Digite sua altura: "))
imc = peso / altura ** 2
if imc < 17:
    print("Seu peso está muito abaixo do ideal. Seu IMC = {}.".format(imc))
else:
    if imc >= 17 and imc < 18.5:
        print("Seu peso está abaixo do ideal. Seu IMC = {}.".format(imc))
    else:
        if imc >= 18.5 and imc < 25:
            print("Seu peso está dentro da faixa ideal. Seu IMC = {}.".format(imc))
        else:
            if imc >= 25 and imc < 30:
                print("Seu peso está acima do ideal. Seu IMC = {}.".format(imc))
            else:
                if imc >= 30 and imc < 35:
                    print("Seu peso está acima do ideal (Obesidade I). Seu IMC = {}.".format(imc))
                else:
                    if imc >= 35 and imc < 40:
                        print("Seu peso está acima do ideal (Obesidade II - severa). Seu IMC = {}.".format(imc))
                    else:
                        print("Seu peso está acima do ideal (Obesidade III - mórbida). Seu IMC = {}.".format(imc))

#### <font color='#A9C9FC'> Exemplo-021: Cálculo do IMC para diversas classes com múltiplas condições</font>
---

In [ ]:
peso = float(input("Digite seu peso: "))
altura = float(input("Digite sua altura: "))
imc = peso / altura ** 2
if imc < 17:
    print("Seu peso está muito abaixo do ideal. Seu IMC = {}.".format(imc))
elif imc >= 17 and imc < 18.5:
    print("Seu peso está abaixo do ideal. Seu IMC = {}.".format(imc))
elif imc >= 18.5 and imc < 25:
    print("Seu peso está dentro da faixa ideal. Seu IMC = {}.".format(imc))
elif imc >= 25 and imc < 30:
    print("Seu peso está acima do ideal. Seu IMC = {}.".format(imc))
elif imc >= 30 and imc < 35:
    print("Seu peso está acima do ideal (Obesidade I). Seu IMC = {}.".format(imc))
elif imc >= 35 and imc < 40:
    print("Seu peso está acima do ideal (Obesidade II - severa). Seu IMC = {}.".format(imc))
else:
    print("Seu peso está acima do ideal (Obesidade III - mórbida). Seu IMC = {}.".format(imc))

#### <font color='#A9C9FC'> Exemplo-022: Verifica a existência de um triângulo com estrutura condicional encaixada</font>
---
O programa abaixo solicita que o usuário digite 3 lados de um suposto triângulo. Depois de receber os valores dos 3 lados, ele verifica se os 3 lados formam ou não formam um triângulo. Se os 3 lados formarem um triângulo, ele imprime que tipo de triângulo será informado.

In [ ]:
lado1 = float(input("Digite o 1o lado do triângulo: "))
lado2 = float(input("Digite o 2o lado do triângulo: "))
lado3 = float(input("Digite o 3o lado do triângulo: "))

if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado3 + lado1 > lado2):
    if (lado1 == lado2) and (lado2 == lado3): # também poderia usar if a==b==c:
        print("Os lados {}, {} e {} formam um triângulo equilátero.".format(lado1, lado2, lado3))
    else:
        if (lado1 == lado2) or (lado2 == lado3) or (lado3 == lado1):
            print("Os lados {}, {} e {} formam um triângulo isóceles.".format(lado1, lado2, lado3))
        else:
            print("Os lados {}, {} e {} formam um triângulo escaleno.".format(lado1, lado2, lado3))
else:
    print("Os lados {}, {} e {} NÃO formam um triângulo".format(lado1, lado2, lado3))

#### <font color='#A9C9FC'> Exemplo-023: Verifica a existência de um triângulo com estrutura condicional múltipla</font>
---

In [ ]:
lado1 = float(input("Digite o 1o lado do triângulo: "))
lado2 = float(input("Digite o 2o lado do triângulo: "))
lado3 = float(input("Digite o 3o lado do triângulo: "))

if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado3 + lado1 > lado2):
    if (lado1 == lado2) and (lado2 == lado3): # também poderia usar if a==b==c:
        print("Os lados {}, {} e {} formam um triângulo equilátero.".format(lado1, lado2, lado3))
    elif (lado1 == lado2) or (lado2 == lado3) or (lado3 == lado1):
        print("Os lados {}, {} e {} formam um triângulo isóceles.".format(lado1, lado2, lado3))
    else:
        print("Os lados {}, {} e {} formam um triângulo escaleno.".format(lado1, lado2, lado3))
else:
    print("Os lados {}, {} e {} NÃO formam um triângulo".format(lado1, lado2, lado3))

## **04. Estruturas de repetição**

### **Repetição com o comando for**

Esta estrutura deve ser utilizada quando é possível determinar o número de vezes que um determinado conjunto de instruções será executado. Para implementar esta estrutura é necessário utilizar a estrutura de repetição contada do tipo:

**for N in range(Valor Inicial, Valor Final):**

O valor de N começa com o **Valor Inicial** e vai até **Valor Final -1**, por exemplo se dentro da função **range** os valores inicial e final forem respectivamente (1,5) os valores de **N** na repetição serão: 1,2,3 e 4.  

A variável (N) tem o papel de "contador", que controla o número de execuções de acordo com os valores existentes nos parênteses (Valor Inicial e Valor Final-1).

#### <font color='#A9C9FC'> Exemplo-024</font>
---
Exemplo: Este programa irá imprimir na tela os 15 primeiros números naturais (um número natural é um número inteiro positivo, não sendo o zero considerado como um número natural).

In [ ]:
#imprime os números naturais de 1 a 15
for N in range(1, 16):
  print(N)

#### <font color='#A9C9FC'> Exemplo-025</font>
---
Exemplo: Existe uma outra alternativa para resolver o mesmo problema da impressão dos 15 primeiros números naturais em Python, esta solução utiliza o mesmo tipo de estrutura de repetição, porem omite o valor inicial. Quando esse valor é omitido a linguagem Python assume que o valor inicial é SEMPRE ZERO, ou seja, implicitamente o valor inicial da estrutura for será igual a zero, para isso é necessário adaptar o algoritmo para que ele produza o resultado esperado

In [ ]:
#imprime os números naturais de 1 a 15 - Versão 2
for N in range(15):
  print(N+1)

#### <font color='#A9C9FC'> Exemplo-026</font>
---

Exemplo: Este programa irá imprimir na tela os números pares entre 10 e 30.

In [ ]:
#imprime os pares entre 10 e 30
for N in range(10, 32,2):
  print(N)

#### <font color='#A9C9FC'> Exemplo-027</font>
---
Estatísticas da turma: Escreva um programa que solicite o número de alunos de uma turma em seguida solicite a nota média de cada alundo desta turma, finalmente calcule e escreva:

* A média da turma;
* O número de alunos que obtiveram médias maiores ou iguais a 7;
* O número de alunos que obtiveram médias menores que 7.

In [ ]:
# variáveis que irão acumular os valores da estatística
somaMediaTurma=0
totalMenor7=0
totalMaiorIgual7=0
#Informar numero de alunos
nrAlunos = int(input("Informe o no de alunos da turma: "))
#Estrutura de repetição contada, utilizando a variável "aluno" para controlar o número
#de repetições. O valor final é obtido da variável nrAlunos
for aluno in range(1,nrAlunos+1):
    print("Aluno",aluno)
    #N+1 porque Pyhton começa a contar a partír do índice 0
    notaMedia = float(input("Informe a nota média: "))
    #recebe a nota média de cada aluno
    somaMediaTurma=somaMediaTurma+notaMedia
    #soma a média da turma
    #conta as notas menores, maiores ou iguais a 7, usando notaMedia do aluno como
    #referência
    if notaMedia<7:
      totalMenor7 += 1 # incrementa de uma unidade quando cond. verdadeira
    else:
      totalMaiorIgual7 += 1 # incrementa de uma unidade quando cond. verdadeira
# imprime os resultados
print("Média da turma =",somaMediaTurma/nrAlunos)
print("Total de alunos com média menor que 7 =",totalMenor7)
print("Total de alunos com média maior ou igual a 7 =",totalMaiorIgual7)

#### <font color='#A9C9FC'> Exemplo-028</font>
---

**Exemplos com a estrutura FOR**

Iterando sobre uma faixa de valores gerada com a função range()

In [ ]:
# Iterando sobre uma faixa de valores gerada com a função range()
for i in range(5):
    print(i)

#### <font color='#A9C9FC'> Exemplo-029</font>
---
Somatório dos múltiplos de 3 entre 1 e 100

In [ ]:
# Somatório dos múltiplos de 3 entre 1 e 100
soma_mult_3 = 0
for x in range(3, 100, 3):
    soma_mult_3 += x
print(soma_mult_3)

#### <font color='#A9C9FC'> Exemplo-030</font>
---
Imprimindo a tabuada de um número qualquer

In [ ]:
# Imprimindo a tabuada de um número qualquer
num = int(input("Digite o número que deseja imprimir a tabuada: "))
for mult in range(1,11):
    print("{} x {} = {}".format(num, mult, num*mult))

#### <font color='#A9C9FC'> Exemplo-031</font>
---

Imprimindo strings

In [ ]:
#Pneumoultramicroscopicossilicovulcanoconiótico. adjetivo Relacionado com a
#doença que ataca os pulmões, causada pela inalação de cinzas vulcânicas, provenientes de vulcões.
maiorpalavra  = "pneumoultramicroscopicossilicovulcanoconiótico"
for letra in maiorpalavra:
    print(letra)

### **Repetição com comando while**

O while é o comando utilizado para programar repetições no Python baseadas na avaliação de uma condição. Enquanto a condição for verdadeira, o bloco de comandos interno ao while é repetido. Quando a condição se torna falsa, o bloco de comandos deixa de repetir.

```python
while (condição):
    comando1
    comando2
    ...
    comandoN
```

#### <font color='#A9C9FC'> Exemplo-032</font>
---

Exemplo: Este programa irá imprimir na tela os 15 primeiros números naturais (um número natural é um número inteiro positivo, não sendo o zero considerado como um número natural). Neste exemplo será utilizada a estrutura condicional **while**.

In [ ]:
n=1
while (n<=15):
  print(n)
  n=n+1

#### <font color='#A9C9FC'> Exemplo-033</font>
---

Este programa soma valores até o valor da variável **n** seja **menor** que zero

In [ ]:
# Este programa soma valores até o valor da variável n seja igual a zero
soma=0
n = int(input("Informe o valor de N: "))
while (n!=0):
  soma=soma+n
  n = int(input("Informe o valor de N: "))
print("Soma =",soma)

#### <font color='#A9C9FC'> Exemplo-034</font>
---
Estatísticas da turma: Escreva um programa que solicite o número de alunos de uma turma em seguida solicite a nota média de cada alundo desta turma, finalmente calcule e escreva:
* A média da turma;
* O número de alunos que obtiveram médias maiores ou iguais a 7;
* O número de alunos que obtiveram médias menores que 7.

In [ ]:
# variáveis que irão acumular os valores da estatística
somaMediaTurma=0
totalMenor7=0
totalMaiorIgual7=0
totalAlunos=0
#Informar numero de alunos
nrAlunos = int(input("Informe o no de alunos da turma: "))
#Estrutura de repetição contada, utilizando a variável "aluno" para controlar o número
#de repetições. O valor final é obtido da variável nrAlunos
while (totalAlunos<nrAlunos):
  totalAlunos=totalAlunos+1
  print("Aluno",totalAlunos)
  notaMedia = float(input("Informe a nota média: "))
  #recebe a nota média de cada aluno
  somaMediaTurma=somaMediaTurma+notaMedia
  #soma a média da turma
  #conta as notas menores, maiores ou iguais a 7, usando notaMedia do aluno como
  #referência
  if notaMedia<7:
    totalMenor7 += 1 # incrementa de uma unidade quando cond. verdadeira
  else:
    totalMaiorIgual7 += 1 # incrementa de uma unidade quando cond. verdadeira
# imprime os resultados
print("Média da turma =",somaMediaTurma/nrAlunos)
print("Total de alunos com média menor que 7 =",totalMenor7)
print("Total de alunos com média maior ou igual a 7 =",totalMaiorIgual7)

#### <font color='#A9C9FC'> Exemplo-035</font>
---

Este programa imprime os pares de 2 a 20

In [ ]:
# Este programa imprime os pares de 2 a 20
n=1
par=2
while (n<=10):
  print(par)
  par=par+2
  n=n+1

#### <font color='#A9C9FC'> Exemplo-037</font>
---
Este programa imprime todos os números pares de 1 até o número fornecido pelo usuário.

In [ ]:
numero=1
max = int(input("Digite um inteiro maior que 1: ") )

print("Numeros pares entre 1 e", max, ":")

while numero <= max:
    if numero%2==0:  # verifica se o resto da divisão de numero por 2 é igual a zero, em caso afirmativo imprime.
        print(numero,  end=" ")
    numero+=1

#### <font color='#A9C9FC'> Exemplo-038</font>
---
Calcular a soma dos termos da série, enquanto o valor dos termos for maior que 0.0001

$S = \frac{1}{1}+\frac{1}{4}+\frac{1}{9}+\frac{1}{16}+...$

In [ ]:
soma = 0 # Acumulador que representa a soma de todos os termos da série
qtde = 0 # Inicialização do contador que conta a quantidade de termos calculados
den = 0 # Inicialização da variável que representa o denominador
termo = 1 # Inicialização do termo = 1 (para conseguir entrar no loop while)
while (termo > 0.0001):
    qtde += 1 # Incrementa a quantidade de termos calculados na série
    den = qtde ** 2 # Calcula o valor do denominador em relação à quantidade
    termo = 1 / den
    soma += termo # Acumula o valor do termo à soma
    print("{}o termo {}/{} = {}".format(qtde, 1, den, termo))

print(soma)

### **Repetição encaixada**

Estrutura de repetição ocorre quando é necessário criar uma estrutura de repetição interna a outra estrutura de repetição. O algoritmo avaliará a primeira estrutura de repetição (mais externa) a seguir a próxima (mais interna) e assim sucessivamente até chegar na estrutura mais interna que é completamente executada, ao final de sua execução o controle volta para a repetição mais externa e processo se repete até que a condição mais externa se torna falsa. Este processo pode ser implementado em qualquer tipo de estrutura de repetição.

```python
while (condição1):
  while (condição2):
    comando1
    comando2
  comandoN
```

```python
for (vi,vf):
  for (vi2,vf2):
    comando1
    comando2
  comandoN
```

#### <font color='#A9C9FC'> Exemplo-039</font>
---
Imprime a tabuada de 1 a 10

In [ ]:
# imprime a tabuada de 1 a 10
for x in range(1,11):
  for y in range(1,11):
    print(x , " X ",y,"=",x*y)
  print("*************")

## **05. Procedimentos ou Funções**

Em python, so existe uma forma de declarar um procedimento ou função, isso é feito através do comando **def** seguido pelo nome do procedimento ou função e da sua lista de parâmetros, a forma geral é descrita a seguir.

```python
def func(lista de parâmetros):
    bloco de comandos
    return # opcional
```

In [ ]:
# Parâmetros default
# caso não seja informado o valor de será SEMPRE utilizado o índice 2 (raiz quadrada)
def raiz(num, r=2):
    return num ** (1/r)

In [ ]:
d = raiz(num = 81, r = 2) # Argumentos nomeados
d

In [ ]:
#exemplos
print(raiz(16,3))

2.5198420997897464

In [ ]:
print(raiz(32, 5))

In [ ]:
# função usando parâmetros arbitrários
def soma(*nums):
    print(type(nums))
    soma = 0
    for num in nums:
        soma += num
    return soma

In [ ]:
# irá somar todos os números que estão entre parênteses
soma(2, 3,2,3,4)

<class 'tuple'>

14

#### <font color='#A9C9FC'> Exemplo-040</font>
---
Esta função (procedimento, pois não retorna valor) imprime o valor dos argumentos (nome e sobrenome) que são passados ao procedimento imprimeNomes.

In [ ]:
# Exemplo de implementação de Procedimento em Python

def imprimeNomes(nome,sobreNome):
    saida = "Nome Completo: "+nome+" "+sobreNome
    print(saida)

#Esta função imprime o valor do argumento passado por parâmetro.

In [ ]:
imprimeNomes("Bernardo","Lima")

Nome Completo: Bernardo Lima

#### <font color='#A9C9FC'> Exemplo-041</font>
---
Este programa calcula as raízes de uma equação do segundo grau utilizando uma função para calcular o valor de **delta**, esta função recebe os coeficientes **a, b e c,** que serão utilizados para calcular as raízes da equação do segundo grau.

In [ ]:
import math
# necessário para usar cálculos matemáticos

#Para testar:
# valores: 1,-3 e -10 produzem duas raízes:  5.0  e  -2.0
# valores: 1,-6 e 9 produzem apenas uma raiz: 3.0
# valores: 1,2 e 3 não produzem raízes reais

# Função que calcula DELTA
def calcula_delta(a,b,c):
    calcula_delta = b*b - 4 * a * c
    return calcula_delta
#############################

### Inicio do Programa

a = int(input("Informe o valor de A: "))
b = int(input("Informe o valor de B: "))
c = int(input("Informe o valor de C: "))

delta = calcula_delta(a,b,c)
# O delta será usado para calcular as raízes
if (delta<0):
  print("Esta equação não possui raízes reais.")
elif (delta==0):
  x1=(-b+math.sqrt(delta))/(2*a)
  print("Esta equação possui apenas uma raiz: ",x1)
else:
  x1=(-b+math.sqrt(delta))/(2*a)
  x2=(-b-math.sqrt(delta))/(2*a)
  print("Esta equação possui duas raízes: ",x1," e ",x2)

#### <font color='#A9C9FC'> Exemplo-042</font>
---
Exercício: Escreva uma nova versão do programa anterior, criando uma função para calcular as raízes da equação, esta função deverá ser chamada dentro do programa principal. Faça as modificações necessárias no código.

In [ ]:
import math
# necessário para usar cálculos matemáticos

# Para testar:
# valores: 1,-3 e -10 produzem duas raízes:  5.0  e  -2.0
# valores: 1,-6 e 9 produzem apenas uma raiz: 3.0
# valores: 1,2 e 3 não produzem raízes reais

####### Funções e procedimentos ########

# Função que calcula DELTA
def calcula_delta(a,b,c):
    calcula_delta = b*b - 4 * a * c
    return calcula_delta

# Procedimento que calcula as raízes
def calculaRaizes(a,b,c):
    delta = calcula_delta(a,b,c)
    if (delta<0):
        print("Esta equação não possui raízes reais.")
    else: # é maior ou igual a ZERO
        x1=(-b+math.sqrt(delta))/(2*a)
        if (delta==0):
          print("Esta equação possui apenas uma raiz: ",x1)
        else: # delta for maior que ZERO
          x2=(-b-math.sqrt(delta))/(2*a)
          print("Esta equação possui duas raízes: ",x1," e ",x2)

### Inicio do Programa ######
a = int(input("Informe o valor de A: "))
b = int(input("Informe o valor de B: "))
c = int(input("Informe o valor de C: "))
# chama o Procedimento Calcula raízes
calculaRaizes(a,b,c)

#### <font color='#A9C9FC'> Exemplo-043</font>
---
Este programa utiliza uma função para calcular a raiz de um número, recebendo os parâmetros r e num, que representam o índice e radicando da raiz. O cálculo da raiz é feito através da operação de potência.

In [ ]:
# Função que recebe os parâmetros r e num, representam o índice e radicando da raiz,
# O cálculo da raiz é feito através da operação de potência.
def raiz(r, num):
    return num ** (1/r)

In [ ]:
# raiz quadrada de 9
print(raiz(2, 9))

In [ ]:
# raiz cúbica de 27
print(raiz(3, 27))

# A função utilizou
#Argumentos posicionais, porém é possível trocar a ordem dos argumentos desde que identificados

In [ ]:
c = raiz(5, 243)
c

#### <font color='#A9C9FC'> Exemplo-044</font>
---
**PROGRAMA PYTHON PARA CALCULAR O NÚMERO DO CAMINHO DE VIDA**
Dada uma string de data de formato AAAAMMDD, nossa tarefa é calcular o número do caminho de vida.  O Life Path Number é o número obtido pela soma de dígitos individuais de cada elemento repetidamente até um único dígito da cadeia de dados. Usado em previsões de numerologia.

Adota-se o 9 como padrão, como sendo o último número da sequência pois, o 10 contém o 1 e 0 já existentes e assim, se
sucede com todos os outros que existirem.
Realiza-se a Redução Teosófica: 10 = 1 + 0 = 1 , 11 = 1 + 1 = 2 e assim infinitamente;
Existe também a Adição Teosófica o 1 é sempre 1 ... Mas os sequenciais assim se sucedem:

2 => 1 + 2 = 3 ....

3 => 1 + 2 + 3 = 6 ...

4 => 1 + 2 + 3 + 4 = 10 ( 1 )
e assim infinitamente.

Exemplo:

Um pessoa que tenha nascido no dia 01/01/2000. Terá seu número do caminho da vida calculado de acordo com a figura a seguir:

![Screenshot_2.png]()


*O termo teosofia (do grego, theos = deus, sofia = sabedoria) significa sabedoria de Deus e diz respeito a qualquer tipo de misticismo filosófico que pretende ser baseado matemática ou cientificamente. Na antiguidade, pode ser encontrado no pitagorismo, na filosofia neoplatonica e no gnosticismo.*

**CAMINHO DE VIDA**

Converter dois dígitos para um dígito:
quando a variavel **resultado** for maior que 9 então seu valor passará ser:

A soma dos dois dígitos que compõem o número

Exemplos:

10

1+0 = será convertido para 1

11

1+1 = será convertido para 2

...

27

2+7 = será convertido para 9

...

Referência:https://acervolima.com/programa-python-para-calcular-o-numero-do-caminho-de-vida/

In [ ]:
##### Funções e Procedimentos
def calculaCaminhodaVidaV(dataNascimento):
  resultado = 0 # valor que será calculado
  for n in dataNascimento: # busca caracter a caracter da string dataNascimento
      resultado += int(n)  # soma o último valor de n para o próximo teste
      print(n)
      if resultado > 9:
          # números com dois dígitos, será necessário reduzir o cálculo
          # Regra de cálculo
          # obter o resto (%) e o quociente (//) da divisão entre n e 10
          # resultado = resto(resultado % 10) + quociente(resultado // 10)
          resultado = resultado % 10 + resultado // 10
  return resultado

def caminhodaVida(dataNascimento):
  print("Número do caminho da vida: " , calculaCaminhodaVidaV(dataNascimento))

######  PROGRAMA PRINCIPAL #######
# Faz apenas a chamada ao Procedimento caminhodaVida
caminhodaVida(input("Data nascimento: (AAAAMMDD)"))

Data nascimento: (AAAAMMDD)20000809
2
0
0
0
0
8
0
9
Número do caminho da vida:  1

###05.01 Recursividade

Método que consiste em dividir um problema, em problemas menores do mesmo tipo (subproblemas);

Os subproblemas são resolvidos, e seus resultados combinados;
Por exemplo, uma função pode chamar a si própria quando necessário;

Funções recursivas:

A cada chamada, a função produz um resultado direto, e um ou mais casos recursivos, até retornar o valor final calculado.

#### <font color='#A9C9FC'> Exemplo-045</font>
---
Exemplo: Cálculo Fatorial

O fatorial de n corresponde ao produto de n pelo fatorial de seu antecessor.
Fórmula geral:
Fat(n) = 1 se n = 0 ou n = 1
Fat(n) = n * Fat(n – 1)

Exemplos:

Fat(0) =1

Fat(1) =1

Fat(2) = 2*Fat(1) = 2

Fat(3) = 3*Fat(2) = 6

Fat(4) = 4*Fat(3) = 24

Fat(5) = 5*Fat(4) = 120

In [ ]:
# Função recursiva para o cálculo do Fatorial de N
def fatorial(n):
  if n ==0 or n ==1:
    return 1
  else:
      return n * fatorial(n-1)

### Programa Principal
n=int(input("Informe o valor de n!: "))
print("Fatorial de",n, "! = ",fatorial(n))

#### <font color='#A9C9FC'> Exemplo-046</font>
---

**Caminho da Vida - (Exemplo-044) - Versão usando recursividade**

A função recursiva será chamada SEMPRE que for necessário necessário reduzir o número de dois para um dígito. Quaisquer combinações a partir de dois dígitos, a função somará os pares e reduzir o número até que ele chegue em apenas um número entre 0 e 9.

In [ ]:
def calculaCaminhodaVidaRecursivo(n):
  # números com dois dígitos, será necessário reduzir o cálculo
  # Regra de cálculo
  # obter o resto (%) e o quociente (//) da divisão entre n e 10
  # n = resto(n % 10) + quociente(n // 10)
  return n if n < 10 else calculaCaminhodaVidaRecursivo(n % 10 + n // 10 )

def caminhodaVida(dataNascimento):
  print("Número do caminho da vida: " , calculaCaminhodaVidaRecursivo(int(dataNascimento)))

######  PROGRAMA PRINCIPAL #######
# Faz apenas a chamada ao Procedimento caminhodaVida

caminhodaVida(input("Data nascimento: (AAAAMMDD)"))

## **06. Vetores**

Um vetor, também conhecido como array, é uma sequência de valores do mesmo tipo, armazenados de forma sequencial na memória do computador. Todo vetor possui um nome e cada elemento da sequência pode ser acessado individualmente através de um índice representado por um número inteiro. Os elementos são indexados de 0 até n-1, onde n é a quantidade de elementos do vetor. O valor de n também é chamado de dimensão ou tamanho do vetor. O vetor tem tamanho fixo durante a execução do programa, definido na declaração. Observar que a numeração dos índices do vetor começa sempre em zero, e não em um.

![image.png]()

#### <font color='#A9C9FC'> Exemplo-047</font>
---
Algoritmo calcula média dos elementos de um vetor
Este algoritmo lê 10 números via teclado, armazena estes números em um vetor e após a leitura calcula a média aritmética dos elementos que compõem o vetor e finalmente exibe os elementos do vetor e a sua média aritmética.

In [ ]:
# calcula media de um vetor
# variável que controla o tamanho do vetor
tamanhoVetor=10
#vetor lista que irá receber os valores
lista=[]
soma=0
# afunção range no laço for faz com que seja lido até o índice 9 no vetor
for n in range(0, tamanhoVetor):
  lista.append(float(input("Insira o valor do elemento n:")))
  soma=(soma+lista[n])
print("Vetor : ", lista)
print("Média elementos: ", soma/tamanhoVetor)

#### <font color='#A9C9FC'> Exemplo-048</font>
---
O algoritmo deverá ler 10 números via teclado, armazenando estes números em um vetor. Após a leitura, deverá ser feita o processamento do vetor lido e o algoritmo deverá contar o total de números pares e ímpares lidos, a soma dos números pares e ímpares lidos e finalmente imprimir: o total de números pares, o total de números ímpares, a soma dos números pares e a soma dos números ímpares encontrados no vetor.

In [ ]:
# calcula media de um vetor
# variável que controla o tamanho do vetor
tamanhoVetor=10
#vetor lista que irá receber os valores
lista=[]
contPar=contImpar=somaPar=somaImpar=0
for n in range(0, tamanhoVetor):
  lista.append(float(input("Insira o valor do elemento n:")))
for n in range(0, tamanhoVetor):
  if (lista[n]%2==0): #elemento é par
    somaPar=somaPar+lista[n]
    contPar=contPar+1
  else:
    somaImpar=somaImpar+lista[n]
    contImpar=contImpar+1
print("Total de pares = ",contPar)
print("Total de ímpares = ",contImpar)
print("Soma de pares = ",somaPar)
print("Soma de ímpares = ",somaImpar)

#### <font color='#A9C9FC'> Exemplo-049</font>
---
Este algoritmo deve ler 10 números via teclado e armazená-los no vetor v. Após a leitura dos números do vetor o algoritmo deverá solicitar a leitura de um inteiro qualquer e verificar se este número existe no vetor, caso exista o algoritmo deverá imprimir uma mensagem informando que o número existe e informar qual o índice que ele ocupa no vetor. Caso o número não exista o algoritmo deverá informar que o número não foi encontrado.

In [ ]:
# Pesquisa vetor
# variável que controla o tamanho do vetor
tamanhoVetor=10
#vetor lista que irá receber os valores
v=[]
encontrou=False

for n in range(0, tamanhoVetor):
  v.append(float(input("Insira o valor do elemento n:")))

busca=float(input("Qual número a buscar no vetor"))

for n in range(0, tamanhoVetor):
  if (busca==v[n]):
    encontrou=True
    print("Valor encontrado no índice: ",n, "Valor = ",v[n])

if (encontrou==False):
    print("Valor: ",busca, " não encontrado no vetor")

#### <font color='#A9C9FC'> Exemplo-050</font>
---
Digitar os nomes e idades de 5 pessoas, armazenando esses dados em 2 listas.

In [ ]:
#cria vetores vazios idades e pessoas
lista_idades = []
lista_pessoas = []
cont = 0
while (cont < 5):
    nome = input("Digite um nome: ")
    idade = int(input("Digite uma idade: "))
    lista_idades.append(idade)
    lista_pessoas.append(nome)
    cont += 1 # cont = cont + 1
# imprime os vetores lidos
print("\n\nNomes digitados===============")
print(lista_pessoas)
print("\nIdades===============")
print(lista_idades)

## **07. Matrizes**

Matrizes podem ser consideradas como uma especialização de vetores, a diferença é que utilizam mais de um índice para identificar um elemento da matriz. A matriz é uma tabela de vários valores do mesmo tipo, armazenados de forma sequencial e que também possuem um nome de variável para acessar esses valores através de seus índices. Por exemplo, se a matriz deseja representar uma tabela com duas colunas, cada elemento da tabela deverá ser acessado individualmente através de dois índices, estes índices poderiam ser interpretados como a linha e a coluna da matriz. As colunas da matriz representam a capacidade da matriz em relação ao número de elementos que terão cada linha da matriz, e as linhas representam o total de elementos que serão armazenados na memória do computador, independente do total de colunas que possua a matriz.
Todos as regras válidas para os vetores também se aplicam as matrizes. As linhas são numeradas de 0 até L-1, onde L representa o total de linhas, e as colunas de 0 até C-1, onde C representa o total de colunas que terá a matriz. A Figura 7.9 exemplifica graficamente como se estrutura uma matriz que terá duas linhas e cinco colunas, exemplificando seus índices e conteúdo.

![image.png]()

Em Python para criar uma matriz, basta que seja criado um vetor dentro de outro vetor, para cada linha da matriz haverá um vetor de **n** elementos, por exemplo para criar uma matriz 2 x 2, duas linhas com duas colunas, será necessário criar um vetor que contenha outros dois vetores de 2 colunas cada. Como no exemplo a seguir.

In [ ]:
#criação da matriz com valores iguais a zero
matriz=[[0,0],[0,0]]
print(matriz)
#atribuição de novos valores a matriz através de seus índices
matriz [0][0] = 1
matriz [0][1] = 2
matriz [1][0] = 3
matriz [1][1] = 4

print(matriz)

print(matriz[0][1])
print(matriz[1][1])

In [ ]:
#criando a matriz com atribuição direta de valores
matriz_dois_por_tres  = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
#exibindo a matriz formatada
for m in matriz_dois_por_tres:
	print(m)

In [ ]:
# preenchendo uma matriz através de uma estrtura de repetição
#valor inicial
valor=0
linha = 2
coluna = 5

#matriz vazia
matriz=[]
#preenche cada elemento de cada linha
for linha in range(linha):
  #cria linha da matriz vazia
  linha=[]
  for coluna in range(coluna):
    # inclusão de cada elemento na linha
    valor+=1
    list.append(linha,valor)
  # na saída do laço inclui a linha preenchida na matriz
  matriz = matriz + [linha]
#imprime a matriz
for m in matriz:
	print(m)

#### <font color='#A9C9FC'> Exemplo-051</font>
---
Escreva um algoritmo que leia uma matriz que possua três linhas e duas colunas. Após a leitura da matriz o algoritmo deverá somar os números de cada linha e imprimir  soma de cada linha da matriz, a soma dos elementos da matriz e a matriz.

In [ ]:
####### Função para criar a matriz
def criaMatrizporTeclado(linha,coluna):
  #matriz vazia
  m=[]
  #preenche cada elemento de cada linha
  for l in range(linha):
    #cria linha da matriz vazia
    l=[]
    for c in range(coluna):
      # inclusão de cada elemento na linha
      list.append(l,int(input("Entre com o número: ")))
    # na saída do laço inclui a linha preenchida na matriz
    m = m + [l]
  return m

####### Função para somar todos os elementos de um vetor (linha da matriz)
def somaLinha(linha):
  soma=0
  for coluna in range(len(linha)):
    soma=soma+linha[coluna]
  return soma

def imprimeResultado():
  #imprime a matriz
  for m in matriz:
    print(m)
  # imprime resultados
  print("Soma Linha 1:",somaLinha(matriz[0]))
  print("Soma Linha 2:",somaLinha(matriz[1]))
  print("Soma Linha 3:",somaLinha(matriz[2]))
  print("Soma geral:",somaLinha(matriz[0])+somaLinha(matriz[1])+somaLinha(matriz[2]))

## Programa Principal
linha = 3
coluna = 2
# Matriz 3 x 2 que será recebida via teclado
matriz=criaMatrizporTeclado(linha,coluna)
#Mostra os resultados
imprimeResultado()

#### <font color='#A9C9FC'> Exemplo-052</font>
---
Este programa lê duas matrizes com duas linhas e duas colunas. Após a leitura das matrizes o algoritmo gera uma terceira matriz que será formada pela multiplicação dos elementos da matriz 1 pela matriz 2.

In [ ]:
####### Função para criar a matriz pelo pelo teclado
def criaMatrizporTeclado(linha,coluna):
  #matriz vazia
  m=[]
  #preenche cada elemento de cada linha
  for l in range(linha):
    #cria linha da matriz vazia
    l=[]
    for c in range(coluna):
      # inclusão de cada elemento na linha
      list.append(l,int(input("Entre com o número: ")))
    # na saída do laço inclui a linha preenchida na matriz
    m = m + [l]
  return m

####### Função para criar a matriz preenchida com um valor único definido
def criaMatriz(linha,coluna,valor):
  #matriz vazia
  m=[]
  #preenche cada elemento de cada linha
  for l in range(linha):
    #cria linha da matriz vazia
    l=[]
    for c in range(coluna):
      # inclusão de cada elemento na linha
      list.append(l,valor)
    # na saída do laço inclui a linha preenchida na matriz
    m = m + [l]
  return m

####### Função para multiplicar duas matrizes
def multiplicaMatrizes(m1,m2,tamanho):
  m3=criaMatriz(2,2,0)
  for l in range(tamanho):
    for c in range(tamanho):
      m3[l][c] = m3[l][c] + (m1[l][c] * m2[l][c])
  return m3

def imprimeMatriz(matriz):
  #imprime a matriz
  for m in matriz:
    print(m)

#### Programa Principal
print("Informe os elementos da 1a matriz:")
matriz1=criaMatrizporTeclado(2,2)
print("\nInforme os elementos da 2a matriz:")
matriz2=criaMatrizporTeclado(2,2)

matriz3=multiplicaMatrizes(matriz1,matriz2,2)

print("***** Resultados ****** ")
print("Matrizes lidas:")
print(imprimeMatriz(matriz1))
print(imprimeMatriz(matriz2))
print("Matriz resultado:")
print(imprimeMatriz(matriz3))

#### <font color='#A9C9FC'> Exemplo-053</font>
---
Este programa lê uma matriz com 3 linhas e 2 colunas de números reais, a primeira coluna receberá o peso de uma pessoa e a segunda coluna receberá a altura.
Após a leitura da matriz, o programa  gera uma segunda matriz com 3 linhas e 3 colunas, a primeira coluna da matriz receberá o peso, segunda coluna receberá a altura e a terceira coluna receberá o IMC (índice de massa corporal).

In [ ]:
####### Função para criar a matriz pelo pelo teclado
def criaMatrizporTeclado(linha,coluna):
  #matriz vazia
  m=[]
  #preenche cada elemento de cada linha
  for l in range(linha):
    #cria linha da matriz vazia
    l=[]
    for c in range(coluna):
      # inclusão de cada elemento na linha
      list.append(l,float(input("Entre com o número: ")))
    # na saída do laço inclui a linha preenchida na matriz
    m = m + [l]
  return m

####### Função para criar a matriz preenchida com um valor único definido
def criaMatriz(linha,coluna,valor):
  #matriz vazia
  m=[]
  #preenche cada elemento de cada linha
  for l in range(linha):
    #cria linha da matriz vazia
    l=[]
    for c in range(coluna):
      # inclusão de cada elemento na linha
      list.append(l,valor)
    # na saída do laço inclui a linha preenchida na matriz
    m = m + [l]
  return m

####### Função geraImc
def geraImc(m1):
  m=criaMatriz(3,3,0
               )
  for l in range(3):
    for c in range(3):
      if (c<2):
        m[l][c]=m1[l][c]
      else:
        m[l][c]=m1[l][c-2] / m1[l][c-1]**2
  return m

def imprimeMatriz(matriz):
  #imprime a matriz
  for m in matriz:
    print(m)

#### Programa Principal
linhas  = 3
colunas = 2
print("Informe os pares (peso e altura):")
matriz1=criaMatrizporTeclado(linhas,colunas)

matrizIMC=geraImc(matriz1)

print("***** Resultados ****** ")
print("\nMatriz lida:")
print(imprimeMatriz(matriz1))
print("\nMatriz com IMC:")
print(imprimeMatriz(matrizIMC))

## **08. Gráficos**

É possível exibir uma variedade de gráficos no ambiente Google Colab. A seguir serão demonstradas algumas aplicações para uso de gráficos.

Tradução e comentários do Notebook Original: https://colab.research.google.com/notebooks/charts.ipynb

Prof. Paulo Lima  (paulolima@uepa.br)

### Biblioteca Matplotlib

[Matplotlib](http://matplotlib.org/) is the most common charting package, see its [documentation](http://matplotlib.org/api/pyplot_api.html) for details, and its [examples](http://matplotlib.org/gallery.html#statistics) for inspiration.

In [ ]:
import matplotlib.pyplot as plt

#### Gráfico de Linha (Line Plots)

In [ ]:
x  = [1, 2, 3, 4, 5, 6, 7, 8, 9]
y1 = [1, 3, 5, 3, 1, 3, 5, 3, 1]
y2 = [2, 4, 6, 4, 2, 4, 6, 4, 2]
plt.plot(x, y1, label="Linha A")
plt.plot(x, y2, label="Linha B")
plt.plot()

plt.xlabel("Eixo X")
plt.ylabel("Eixo Y")
plt.title("Examplo de Gráfico de Linha")
plt.legend()
plt.show()

#### Gráfico de Barras (Bar Plots)

In [ ]:
# 50% dos dados são coincidentes entre Azul e Verde.

# Azul
x1 = [1, 1, 1, 1, 1, 1, 3]
y1 = [1, 2, 3, 4, 5, 6, 8]

# Verde
x2 = [1, 1, 1, 1, 1, 2, 9]
y2 = [1, 2, 3, 4, 5, 5, 7]

# Colors: https://matplotlib.org/api/colors_api.html

# Azul
plt.bar(x1, y1, label="Azul", color='b')
# Verde
plt.bar(x2, y2, label="Verde", color='g')
plt.plot()

plt.xlabel("Cor")
plt.ylabel("Coordenada")
plt.title("Exemplo de Gráfico de Barras")
plt.legend()
plt.show()

#### Histogramas (Histograms)

In [ ]:
import numpy as np

# Gera dados aleatórios até 1000,
# esses valores estão em uma curva de sino em torno de 5
Y = 5 + np.random.randn(1000)  ## Y é valor do número gerado
x = [x for x in range(len(Y))] ## gera valores sequencias de 0 a x (1000)

plt.bar(x, Y) # imprime o elemento de 0 a 1000 e seu valor N
plt.title("Dados brutos")
plt.show()

plt.hist(Y, bins=20) # monta o histograma a partir de N
plt.title("Histograma")
plt.show()

plt.hist(Y, cumulative=True, bins=20) # monta o histograma cumulativo a partir de N
plt.title("Histogram Cumulativo")
plt.show()

#### Gráfico de Dispersão (Scatter Plot)

In [ ]:
x1 = [2, 3, 4] # azul
y1 = [5, 5, 5]

x2 = [1, 2, 3, 4, 5] # laranja
y2 = [2, 3, 2, 3, 4]

y3 = [6, 8, 7, 8, 7] # rosa

# Markers: https://matplotlib.org/api/markers_api.html

plt.scatter(x1, y1) # azul
plt.scatter(x2, y2, marker='v', color='r') # laranja
plt.scatter(x2, y3, marker='^', color='m') # rosa
plt.title('Examplo - Gráfico de Dispersão')
plt.show()

#### Gráfico de Pilha - Stack Plots

In [ ]:
idxes = [ 1,  2,  3,  4,  5,  6,  7,  8,  9]
arr1  = [23, 40, 28, 43,  8, 44, 43, 18, 17]
arr2  = [17, 30, 22, 14, 17, 17, 29, 22, 30]
arr3  = [15, 31, 18, 22, 18, 19, 13, 32, 39]

# Adding legend for stack plots is tricky.
plt.plot([], [], color='r', label = 'RED')
plt.plot([], [], color='g', label = 'GREEN')
plt.plot([], [], color='b', label = 'BLUE')

plt.stackplot(idxes, arr1, arr2, arr3, colors= ['r', 'g', 'b'])
plt.title('Examplo - Gráfico de Pilha')
plt.legend()
plt.show()

#### Gráfico de Pizza (Pie Charts)

In [ ]:
rotulos = 'S1', 'S2', 'S3'
valores = [10, 30, 60]
cores = ['c', 'g', 'y']

plt.pie(valores, labels=rotulos, colors=cores,
        startangle=90,
        explode = (0, 0.1, 0),
        autopct = '%1.2f%%')

plt.axis('equal') # Try commenting this out.
plt.title('Examplo - Gráfico de Pizza')
plt.show()

#### Gráfico de Área

In [ ]:
import numpy as np

# Gera dados aleatórios até 1000,
# esses valores estão em uma curva de sino em torno de 5

Y = 200 + np.random.randn(150) ## Y é valor do número gerado
x = [x for x in range(len(Y))] ## gera valores sequencias de 0 a N (150)

plt.plot(x, Y, '-')
plt.fill_between(x, Y, 195, where=(Y > 195), facecolor='g', alpha=0.6)

plt.title("Fills and Alpha Example")
plt.show()

### Plot styles

Colaboratory charts use [Seaborn's](https://seaborn.pydata.org) custom styling by default. To customize styling further please see the [matplotlib docs](https://matplotlib.org/users/style_sheets.html).

### Seaborn

There are several libraries layered on top of Matplotlib that you can use in Colab. One that is worth highlighting is [Seaborn](http://seaborn.pydata.org):

In [ ]:
import numpy as np
import seaborn as sns

# Generate some random data
num_points = 20
# x will be 5, 6, 7... but also twiddled randomly
x = 5 + np.arange(num_points) + np.random.randn(num_points)
# y will be 10, 11, 12... but twiddled even more randomly
y = 10 + np.arange(num_points) + 5 * np.random.randn(num_points)
sns.regplot(x, y)
plt.show()

That's a simple scatterplot with a nice regression line fit to it, all with just one call to Seaborn's [regplot](http://seaborn.pydata.org/generated/seaborn.regplot.html#seaborn.regplot).

Here's a Seaborn [heatmap](https://seaborn.pydata.org/generated/seaborn.heatmap.html):

In [ ]:
import numpy as np

# Make a 10 x 10 heatmap of some random data
side_length = 10
# Start with a 10 x 10 matrix with values randomized around 5
data = 5 + np.random.randn(side_length, side_length)
# The next two lines make the values larger as we get closer to (9, 9)
data += np.arange(side_length)
data += np.reshape(np.arange(side_length), (side_length, 1))
# Generate the heatmap
sns.heatmap(data)
plt.show()

### Altair

[Altair](http://altair-viz.github.io) is a declarative visualization library for creating interactive visualizations in Python, and is installed and enabled in Colab by default.

For example, here is an interactive scatter plot:

In [ ]:
import altair as alt
from vega_datasets import data # busca valores de um dataset externo
cars = data.cars()

alt.Chart(cars).mark_point().encode(
    x='Horsepower',
    y='Miles_per_Gallon',
    color='Origin',
).interactive()

For more examples of Altair plots, see the [Altair snippets notebook](/notebooks/snippets/altair.ipynb) or the external [Altair Example Gallery](https://altair-viz.github.io/gallery/).

### Plotly

### Sample

In [ ]:
from plotly.offline import iplot
import plotly.graph_objs as go

data = [
    go.Contour(
        z=[[10, 10.625, 12.5, 15.625, 20],
           [5.625, 6.25, 8.125, 11.25, 15.625],
           [2.5, 3.125, 5., 8.125, 12.5],
           [0.625, 1.25, 3.125, 6.25, 10.625],
           [0, 0.625, 2.5, 5.625, 10]]
    )
]
iplot(data)

### Bokeh

#### Sample

In [ ]:
import numpy as np
from bokeh.plotting import figure, show
from bokeh.io import output_notebook

# Call once to configure Bokeh to display plots inline in the notebook.
output_notebook()

In [ ]:
N = 4000
x = np.random.random(size=N) * 100
y = np.random.random(size=N) * 100
radii = np.random.random(size=N) * 1.5
colors = ["#%02x%02x%02x" % (r, g, 150) for r, g in zip(np.floor(50+2*x).astype(int), np.floor(30+2*y).astype(int))]

p = figure()
p.circle(x, y, radius=radii, fill_color=colors, fill_alpha=0.6, line_color=None)
show(p)

## **09. Conversão de Tipos**
Python permite a conversão (*type casting*) entre tipos de dados. Para fazer uma conversão, basta
utilizar o nome do tipo e, entre parêntes, passar o valor ou variável que se deseja converter.

Exemplos a seguir:

###### **Conversão de int para str**

In [ ]:
numero_cinco = 5
type(numero_cinco)

In [ ]:
numero_cinco

In [ ]:
simbolo_cinco=str(numero_cinco) # conversão (cast) de int para str
type(simbolo_cinco)

In [ ]:
simbolo_cinco

###### **Conversão de str para float**

In [ ]:
valor_de_pi = "3.14159"
type(valor_de_pi)

In [ ]:
valor_de_pi

In [ ]:
pi =  float(valor_de_pi) # conversão (cast) de str para float
type(pi)

In [ ]:
pi

###### **Conversão de str para int**

In [ ]:
valor_ano = "2021"
type(valor_ano)

In [ ]:
valor_ano

In [ ]:
ano =  int(valor_ano)
type(ano)

In [ ]:
ano

###### **Conversão de bool para int**

In [ ]:
valor_booleano = True
type(valor_booleano)

In [ ]:
valor = int(valor_booleano)
type(valor)

In [ ]:
valor

In [ ]:
valor_booleano = False
type(valor_booleano)

In [ ]:
valor = int(valor_booleano)
type(valor)

In [ ]:
valor

###### **Conversão de float para int**

In [ ]:
valor_float = 3.1415
type(valor_float)

In [ ]:
valor_float

In [ ]:
valor_int = int(valor_float)
type(valor_int )

In [ ]:
valor_int

## **10. Estruturas de Dados**

### **Listas (list)**

Uma lista é a estrutura de dados mais básica do Python e armazena os dados em sequência, onde cada elemento possui sua posição na lista, denominada de índice. O primeiro elemento é sempre o índice zero e a cada elemento inserido na lista esse valor é incrementado.

No Python, uma lista pode armazenar qualquer tipo de dado primitivo (string, inteiro, float, etc). Na imagem abaixo podemos ver como uma lista se comporta:

<center><img src="https://github.com/paulosrl/imagens/blob/master/lista.jpg?raw=true
" height="130px">
</center>

Os números: **1,2,3,4 e 5 são o conteúdo** da lista, e os números **0,1,2,3 e 4 são os índices** da lista. Cada elemento que compoem a lista é indentificado por um índice único.

O **primeiro elemento** fica armazenado no **índice 0** e o **último elemento** no **índice n-1** (**n** é a quantidade de elementos da lista).

**Neste tópico será mostrado:**

1. Como criar uma lista
2. Como acessar elementos de uma lista
3. Como modificar elementos de uma lista
4. Principais métodos de um objeto lista
5. Funções aplicáveis a uma lista

#### **Como criar uma lista**

In [ ]:
# Criando uma lista vazia
lista_vazia = []
lista_vazia2 = list()

In [ ]:
# Visualizando o tipo
type(lista_vazia)

In [ ]:
# Visualizando o tipo
type(lista_vazia2)

In [ ]:
# Verificando o tamanho da lista
len(lista_vazia)

In [ ]:
# Criando listas com elementos
lista = [23, 56, 2, -3, 10, 2, 18, 0, 5]
lista_reais = [1.5, -2.13, 5.14]
lista_strings = ["Bernardo", "Python", "UEPA", "Introdução a Linguagem de Programação Python"]
lista_booleanos = [True, True, False, True]
lista_misturada = [1, 2, 3.14159, "teste"]
lista_misturada2 = [1, 2, 3.14159, "teste", [1, "A", 1.0]]
listas_aninhadas = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
nomes = ["Maria","Ana","Pedro"]
notas = [10,9,7]

In [ ]:
print(nomes[0])

In [ ]:

valor[0]=1
valor[1]=2
valor[2]=3

caractere [2] nomes
nomes[0] = "Bernardo"
nomes[1] = "Lima"
Formato 2
inteiro [3] valores = {1,2,3}
inteiro [3] notas = {4,5,6}

caractere [2] nomes = {"Bernardo", "Lima"}
caractere resultado = nomes[0]+nomes[1]
Exemplo de operações (independente do formato)
caractere resultado = nomes[0]+nomes[1]
/* a variável resultado recebe o conteúdo da posição 0 do vetor nomes e soma com o conteúdo da posição 1 do vetor nomes, o conteúdo que estará armazenado na variável resultado será "Bernardo Lima" */

notas[2] = valores[0]+notas[1]
/* o vetor notas de índice 2 recebe o resultado da soma dos conteúdos de valores[0] e   notas[1], ou seja, 1 + 5, em notas[2] ficará armazenado o valor 6 */

In [ ]:
# Visualizando a lista
lista

In [ ]:
lista_reais

In [ ]:
lista_strings

In [ ]:
lista_booleanos

In [ ]:
lista_misturada

In [ ]:
lista_misturada2

In [ ]:
listas_aninhadas

#### **Como acessar elementos de uma lista**

In [ ]:
# Acessando o índice 0 (primeira posição)
lista[0]

In [ ]:
lista

In [ ]:
# Acessando o índice 2 (terceira posição)
lista[2]

In [ ]:
# Acessando o índice 3 (quarta posição)
lista_strings[3]

In [ ]:
lista_strings

In [ ]:
# Acessando o índice 3 (quarta posição)
lista_misturada[3]

In [ ]:
lista_misturada

In [ ]:
# Acessando o índice 4 nos foi retornado uma lista com 3 elementos. Agora queremos acessar o índice 1 dessa lista interna
lista_misturada2[4][1]

In [ ]:
lista_misturada2

In [ ]:
# Acessando um índice inexistente () / dará um erro
lista[20]

#### **Como modificar elementos de uma lista**

In [ ]:
# Visualizando a lista
lista

In [ ]:
# Alterando o elemento do índice 1 de 56 para 18
lista[1] = 18

In [ ]:
# Visualizando a alteração realizada
lista

In [ ]:
# Modificando o elemento do índice 3 de -3 para 15
lista[3] = 15

In [ ]:
# Visualizando a alteração realizada
lista

In [ ]:
# Modificando o elemento do índice 2. Ele recebe a soma dos dois elementos anteriores
lista[2] = lista[0] + lista[1]

In [ ]:
# Visualizando a alteração realizada
lista

#### **Principais métodos de um objeto lista**

Método | Descrição | Exemplo
:----- | :-------- | :------
append | Adiciona um elemento no final da lista | `lista.append(5)`
clear  | Apaga todos os elementos de uma lista | `lista.clear()`
copy | Retorna uma cópia dos elementos da lista | `copia = lista.copy()`
count | Retorna a quantidade de ocorrências de um elemento na lista | `qt = lista.count(5)`
extend | Adiciona os elementos de outra lista passada por parâmetro | `lista.extend(outra_lista)`
index | Retorna o índice do elemento passado por parâmetro (primeira posição) | `pos5 = lista.index(5)`
insert | Adiciona um elemento em uma posição passada por parâmetro (adiciona no final caso a posição não exista)| `lista.insert(3, "João")`
pop | Remove o elemento na posição passada por parâmetro (provoca um erro caso a posição não exista)| `elemento = lista.pop(3)`
remove | Remove o elemento passado por parâmetro (provoca um erro caso o elemento não exista)| `lista.remove(5)`
reverse | Inverte a ordem dos elementos de uma lista | `lista.reverse()`
sort | Ordena os objetos de uma lista | `lista.sort()`
 | | `lista.sort(reverse=True)`

##### **append()**

In [ ]:
# Visualizando a lista antes da chamada ao método append()
lista

In [ ]:
# Adicionado o 17 no final da lista
lista.append(17)

In [ ]:
# Visualizando a lista após chamada ao método append()
lista

##### **clear()**

In [ ]:
# Visualizando lista_reais antes da chamada ao método clear()
lista_reais

In [ ]:
# Removendo todos os ementos de lista_reais
lista_reais.clear()

In [ ]:
# Visualizando lista_reais após chamada ao método clear()
lista_reais

##### **copy()**

In [ ]:
# Copiando uma lista para outra?
copia = lista

In [ ]:
# Visualizando o conteúdo de copia
copia

In [ ]:
# Alterando o elemento do índice 0 de 23 para 5
copia[0] = 5

In [ ]:
# Visualizando o conteúdo de copia
copia

In [ ]:
# Visualizando o conteúdo de lista (Perceba que o elemento 23 também foi alterado na lista, e não apenas em copia)
lista

In [ ]:
# Desfazendo a alteração no índice 0, modificando de 5 para 23
lista[0] = 23

In [ ]:
# A maneira correta de copiar uma lista para outra é através da chamada ao método copy()
copia = lista.copy()

In [ ]:
# Visualizando o conteúdo de lista
lista

In [ ]:
# Visualizando o conteúdo de copia
copia

In [ ]:
# Alterando o elemento do índice 0 de 23 para 5
copia[0] = 5

In [ ]:
# Visualizando o conteúdo de lista
lista

In [ ]:
# Visualizando o conteúdo de lista - Agora sim, apenas o índice 0 de copia foi alterado
copia

##### **count()**

In [ ]:
# Verificando quantas vezes o número 5 aparece em copia
copia.count(5)

##### **extend()**

In [ ]:
# Suponha que temos uma lista chamada numeros que contém os elementos [1, 2, 3]
numeros = [1, 2, 3]

In [ ]:
# Queremos adicionar o elementos [4, 5] à lista números e usamos o método append()
numeros.append([4,5])

In [ ]:
# Ao invés de adicionarmos os elementos 4 e 5, adicionar uma lista contendo os elementos [4, 5]
numeros

In [ ]:
# A maneira correta de adicionar novos elementos de uma lista, a partir de outra lista, é através do método extend()
numeros = [1, 2, 3]
numeros.extend([4,5])
numeros

##### **index()**

In [ ]:
# Redefinindo os elementos da lista
lista = [1, 3, 7, 2, 3, 8, 4]

In [ ]:
# O método index nos permite saber em que posição determinado elemento está armazenado
lista.index(7)

In [ ]:
# Podemos guardar esse valor em uma variável
posicao8 = lista.index(8)

In [ ]:
posicao8

In [ ]:
# O método index() retorna a posição da primeira ocorrência do elemento procurado.
posicao3 = lista.index(3)

In [ ]:
posicao3

In [ ]:
# Caso o elemento não exista, ocorre um erro
lista.index(19)

##### **insert()**

In [ ]:
# O método insert() permite adicionar um elemento em qualquer posição da lista.
# Caso a posição não exista, ele insere o elemento desejado na última posição
lista.insert(2, "ABC")
lista

In [ ]:
lista.insert(100, "XYZ")
lista

##### **pop()**

In [ ]:
# Utilizamos o método pop() quando desejamos apagar uma posição da lista
# Removendo o elemento no índice 2
valor = lista.pop(2)
# Visualizando o valor retornado
valor

In [ ]:
# Visualizando a lista após a remoção
lista

In [ ]:
# Removendo o elemento da última posição
lista.pop(-1)
# Visualizando a lista após a remoção
lista

In [ ]:
# O método pop() provoca um erro caso a posição não exista
lista.pop(45)

##### **remove()**

In [ ]:
# Utilizamos o método remove() quando desejamos apagar um elemento específico da lista
# Visualizando lista_strings antes da remoção
lista_strings

In [ ]:
# Removendo "Rodrigo"
lista_strings.remove("Bernardo")

In [ ]:
# Visualizando lista_strings após a remoção
lista_strings

In [ ]:
# O método remove() provoca um erro caso o elemento não exista
lista_strings.remove("Java")

##### **reverse()**

In [ ]:
# Redefinindo os elementos de lista
lista = [1, 2, 3, 4, 5, 6]
# Visualizando a lista antes da chamada ao método reverse()
lista

In [ ]:
# Invertendo os elementos da lista
lista.reverse()

In [ ]:
# Visualizando a lista após chamada ao método reverse()
lista

##### **sort()**

In [ ]:
# Redefinindo os elementos de lista
lista = [6, 3, 1, 4, 2, 5]
# Visualizando a lista antes da chamada ao método sort()
lista

In [ ]:
# Ordenando os elementos em ordem crescente
lista.sort()

In [ ]:
# Visualizando a lista após chamada ao método sort()
lista

In [ ]:
# Redefinindo os elementos de lista
lista = [6, 3, 1, 4, 2, 5]
# Visualizando a lista antes da chamada ao método sort()
lista

In [ ]:
# Ordenando os elementos em ordem decrescente
lista.sort(reverse=True)

In [ ]:
# Visualizando a lista após chamada ao método sort()
lista

In [ ]:
# Ordenando lista de caracteres
lista_letras = ["Q", "W", "E", "R", "T", "Y", "A", "S", "D"]
lista_letras.sort()
lista_letras

In [ ]:
# Ordenando lista de strings
lista_strings = ["GHI", "XYZ", "DEF", "ABC", "KLM"]
lista_strings.sort()
lista_strings

In [ ]:
# Não é possível ordenar uma lista com elementos de diferentes tipos
lista_misturada = [2, "ABC", 3.14]
lista_misturada.sort()
lista_misturada

#### **Funções aplicáveis a uma lista**

Função | Descrição | Exemplo
:----- | :-------- | :------
len | Retorna a quantidade de elementos de uma lista | `print(len(lista))`
max  | Retorna o maior elemento de uma lista | `maior = max(lista)`
min | Retorna o menor elemento de uma lista | `menor = min(lista)`
sum | Retorna o somatório dos elementos de uma lista | `soma = sum(lista)`

In [ ]:
# Redefinindo os elementos de lista e lista_letras
lista = [8, 3, 21, 14, 2, 45]
lista_letras = ["Q", "W", "E", "R", "T", "Y", "A", "S", "D"]

In [ ]:
# A função len() retorna a quantidade de elementos de uma lista
len(lista)

In [ ]:
# A função max() retorna o maior elemento de uma lista
max(lista)

In [ ]:
max(lista_letras)

In [ ]:
# A função min() retorna o menor elemento de uma lista
min(lista)

In [ ]:
min(lista_letras)

In [ ]:
# A função sum() retorna a soma dos elementos de uma lista numérica
sum(lista)

### **Tuplas (tuple)**

Assim como a Lista, uma Tupla em Python é uma coleção de elemento. A principal **diferença** entre essas estruturas é a propriedade de **imutabilidade** das tuplas. Isso significa que, uma vez definidos os seus elementos, a tupla **não pode** mais ser alterada.

Cada elemento possui uma **posição** dentro de uma tupla. Essa posição é chamada **índice**. O **primeiro elemento** fica armazenado no **índice 0** e o último elemento no **índice n-1** (**n** é a quantidade de elementos da tupla).

**Neste tópico será mostrado:**

1. Como criar uma tupla
2. Como acessar elementos de uma tupla
3. Imutabilidade de uma tupla
4. Principais métodos de um objeto tupla
5. Funções aplicáveis a uma tupla
6. Convertendo uma tupla em lista

#### **Como criar uma tupla**

In [ ]:
# Criando tuplas vazias
tupla_vazia = ()
tupla_vazia2 = tuple()

In [ ]:
# Verificando o tipo de tupla_vazia
type(tupla_vazia)

In [ ]:
# Verificando se tupla_vazia2 é uma instância de tuple
isinstance(tupla_vazia2, tuple)

In [ ]:
len(tupla_vazia)

In [ ]:
# Criando tuplas com elementos
tupla1 = (3, 19, 4, 21, 3, 5, 13)
tupla2 = (3, 19, 4, 21, 3, 5, 13, "tupla", (1, 2, 3))
tupla3 = (3, 19, 4, 21, 3, 5, 13, "tupla", [1, 2, 3])

In [ ]:
# Visualizando os elementos de tupla1
tupla1

In [ ]:
# Visualizando os elementos de tupla2
tupla2

In [ ]:
# Visualizando os elementos de tupla3
tupla3

#### **Como acessar elementos de uma tupla**

In [ ]:
# Acessando o índice 0 (primeira posição) de tupla1
tupla1[0]

In [ ]:
# Visualizando os elementos de tupla1
tupla1

In [ ]:
# Acessando o índice 5 (sexta posição) de tupla2
tupla2[5]

In [ ]:
# Visualizando os elementos de tupla2
tupla2

In [ ]:
# Acessando o índice 8 (nona posição) de tupla3
tupla3[8]

In [ ]:
# Visualizando os elementos de tupla3
tupla3

In [ ]:
# Tentando acesso a um índice inexistente
tupla3[20]

#### **A imutabilidade de uma tupla**

In [ ]:
# Atribuindo o valor 5 ao índice 0 de tupla1 provocará um erro
tupla1[0] = 5

In [ ]:
# O mesmo ocorre se tentarmos atribuir o string "imutável" para o índice 1 de tupla2
tupla2[1] = "imutável"

In [ ]:
# O índice 8 de tupla2 contém uma outra tupla contendo 3 valores (1, 2, 3).
# Tentar atribuir 5 ao índice 1 dessa tupla interna, provocará um erro de execução
tupla2[8][1] = 5

In [ ]:
# O mesmo não ocorre ao tentar atribuir 5 ao índice 1, da lista armazenada no índice 8.
# O motivo é que a tupla não está sendo alterada. O índice 8 continua contendo uma lista.
# Essa lista, por sua vez, é que teve um de seus valores alterados
# neste caso a operação modifica o conteúdo de um elemento que está contido na tupla, e não nele mesmo.
tupla3[8][1] = 5

In [ ]:
# Podemos adicionar elementos à lista armazenada no índice 8 da tupla
tupla3[8].extend([4, 5, 6])

In [ ]:
tupla3

In [ ]:
# Entretanto, matendo a característica de imutabilidade, não podemos substituir a lista do índice 8 por outra
tupla3[8] = [-1, -2, -3]

#### **Principais métodos de um objeto tupla**

In [ ]:
# Verificando quantas vezes o número 3 aparece em tupla1
tupla1.count(3)

In [ ]:
tupla1

In [ ]:
# Verificando em que posição está armazenado o elemento 21
tupla1.index(21)

#### **Funções aplicáveis a uma tupla**

In [ ]:
len(tupla1)

In [ ]:
max(tupla1)

In [ ]:
min(tupla1)

In [ ]:
sum(tupla1)

#### **Convertendo uma tupla em lista (usado quando se deseja alterar os elementos da tupla)**

In [ ]:
lista = list(tupla1)

In [ ]:
lista

In [ ]:
tupla1[6] = -1 # A imutabilidade da tupla não permite a alteração de um valor

In [ ]:
lista[6] = -1 # A lista resultante da conversão da lista permite a alteração

In [ ]:
lista

### **Conjuntos (sets)**

No Python, os **conjuntos** (sets) são uma coleção de itens **desordenada**, **parcialmente** imutável e que **não podem** conter elementos **duplicados**. Por ser parcialmente imutável, os sets possuem permissão de **adição e remoção** de elementos.

* Principais características:
   * Os elementos não são armazenados em uma ordem específica;
   * Conjuntos não contém elementos repetidos;
   * Conjuntos não suportam indexação como as listas e tuplas;
   * Conjuntos não suportam outras estruturas de dados aninhadas, por exemplo, armazenar uma lista dentro do conjunto.

Além disso, os sets são utilizados, normalmente, com operações matemáticas de união, interseção e diferença simétrica, conforme veremos nos próximos tópicos.

#### **Como criar conjuntos**

Para a criação de um set no Python há duas formas: A primeira é bem similar às listas e tuplas, porém utilizando chaves {} para determinar os elementos do set:

In [ ]:
# Criando conjuntos vazios
conj_vazio1 = set() # Essa é a única forma de se criar um conjunto vazio
conj_vazio2 = {} # As chaves são utilizadas para construir um dicionário vazio.

In [ ]:
type(conj_vazio1)

In [ ]:
type(conj_vazio2)

In [ ]:
# Criando conjuntos com elementos
conj1 = {1, 2, 3, 4, 5}
conj2 = {"A", "B", "C", "D"}
conj3 = {"ABC", 123, 3.14}

In [ ]:
conj1

In [ ]:
conj2

In [ ]:
conj3

In [ ]:
# set não permitem valores duplicados
valores_lidos = {1, 2, 3, 4, 3, 2}

In [ ]:
#imprimindo os valores
valores_lidos

In [ ]:
#mostrando tipo de dados
type(valores_lidos)

In [ ]:
# Conjuntos não podem conter outras estruturas aninhadas (ERRO)
conj3 = {1, "ABC", [1,2,3]} # Provoca um erro por causa da lista

In [ ]:
#criando um cojunto de dados do tipo string
frutas = {"banana", "maçã", "açai"}

A segunda forma de criar um set é utilizando o **método set** presente no Python.

In [ ]:
set_com_metodo = set([1, 2, 3, 4])

In [ ]:
set_com_metodo

In [ ]:
type(set_com_metodo)

#### **Como acessar elementos de um conjunto**

In [ ]:
#criando o conjunto
valores_lidos = {1, 2, 3, 4, 7, 9}

In [ ]:
# Tentar acessar uma posição em um conjunto provoca um erro
valores_lidos[1]

In [ ]:
# Conjuntos não suportam indexação. Então vamos precisar do comando for para acessar os elementos de um conjunto
for indice in valores_lidos:
    print(indice)

#### **Adicionando, atualizando e removendo elementos dos conjuntos**

Os sets permitem as operações de adição, atualização e remoção de elementos. Não existe uma maneira de modificar elementos em um conjunto. O que pode ser feito é a exclusão de um elemento, seguida da inserção de outro elemento.

Para isso, existe um método para cada funcionalidade, como podemos ver a seguir:

##### **Principais métodos de um objeto conjunto**

Método | Descrição | Exemplo
:----- | :-------- | :------
add | Adiciona um elemento ao conjunto | `conj1.add(5)`
clear  | Apaga todos os elementos de um conjunto | `conj1.clear()`
copy | Retorna uma cópia dos elementos de um conjunto | `conj_copia = conj1.copy()`
remove e discard| Removem um elemento do conjunto | `conj1.remove(5)` ou `conj1.discard(5)`
update| Atualizado um conjunto com os elementos | `conj1.update([13, 14, 15, 11])`

##### **Adicionando um elemento ao conjunto - add()**

In [ ]:
#criando o set
numeros = {8, 9, 10, 7, 6}

In [ ]:
#imprimindo o set
numeros

In [ ]:
#adicionando um elemento ao set
numeros.add(5)

In [ ]:
#imprimindo o set
numeros

##### Apagando todos os elementos de um conjunto - clear()

In [ ]:
conjunto = {"A", "B", "C", "D"}

In [ ]:
conjunto

In [ ]:
#apagando os elementos de um conjunto
conjunto.clear()
conjunto

##### **Copiando elementos de um conjunto - copy()**

In [ ]:
conjunto = {"A", "B", "C", "D"}
conjunto2 = conjunto.copy()
conjunto2

##### **Removendo elementos de um conjunto - remove() e discard()**

In [ ]:
# Criando conjuntos com elementos
conj1 = {1, 2, 3, 4, 5}
conj2 = {"A", "B", "C", "D"}

In [ ]:
# Visualizando os elementos de conj1
conj1

In [ ]:
# Removendo o 3 de conj1 usando o remove()
conj1.remove(3)

In [ ]:
# Visualizando os elementos de conj1 após remove(3)
conj1

In [ ]:
# Tentar remover um elemento inexistente com remove provoca um erro
conj1.remove(7)

In [ ]:
# Removendo o 6 de conj1 usando o discard()
conj1.discard(6)

In [ ]:
# Visualizando os elementos de conj1 após discard(6)
conj1

In [ ]:
# Tentar remover um elemento inexistente com discard NÃO provoca um erro
conj1.discard(7)

##### **Atualizando um conjunto - update()**

In [ ]:
numeros = {8,9,10}

In [ ]:
#atualizando o set
numeros.update([13, 14, 15, 11])

In [ ]:
#imprimindo o set
numeros

#### **Operações em Conjuntos**

Conjuntos fornecem métodos para as operações
mais conhecidas de teoria dos conjuntos, como
união, interseção e diferença, além de outras.

Método | Descrição | Exemplo
:----- | :-------- | :------
difference | Retorna o conjunto de elementos de conj1 que não pertencem a conj2 | `conj1.difference(conj2)`
intersection | Retorna o conjunto de elementos presentes tanto em conj1 quanto em conj2 | `conj1.intersection(conj2)`
isdisjoint | Retorna True se conj1 e conj2 forem disjuntos (ou seja, não possuem elementos em comum) | `conj1.isdisjoint(conj2)`
issubset | Retorna True se conj1 for um subconjunto de conj2 (conj1 está contido em conj2) | `conj1.issubset(conj2)`
issuperset | Retorna True se conj1 for um superconjunto de conj2 (conj1 contém conj2) | `conj1.issuperset(conj2)`
symmetric_difference | Retorna o conjunto de elementos que não são comuns aos dois conjuntos (o contrário da interseção)| `conj1.symmetric_difference(conj2)`
union | Retorna a união entre 2 conjuntos | `conj1.union(conj2)`

##### **difference()**

In [ ]:
# Criando os conjuntos s1 e s2
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}

In [ ]:
# Atribui a s3 a diferença do conjunto s1 em relação a s2
s3 = s1.difference(s2)
s3

##### **intersection()**

In [ ]:
s4 = s1.intersection(s2)
s4

##### **isdisjoint()**

In [ ]:
# Verificando se s1 e s2 são disjuntos
s1.isdisjoint(s2)

In [ ]:
# Verificando se s3 e s3 são disjuntos
s3.isdisjoint(s4)

##### **issubset()**

In [ ]:
# verificando se s1 é um subconjunto de s2
s1.issubset(s2)

In [ ]:
# verificando se s3 é um subconjunto de s1
s3.issubset(s1)

##### **issuperset()**

In [ ]:
# verificando se s1 é um superconjunto de s2
s1.issuperset(s2)

In [ ]:
# verificando se s1 é um superconjunto de s3
s1.issuperset(s3)

##### **symmetric_difference()**

In [ ]:
# Anteriormente foi realizada a interseção de s1 e s2. Agora vamos calcular a diferença simétrica
s5 = s1.symmetric_difference(s2)
s5

##### **union()**

In [ ]:
# Calculando o conjunto união. Veja que elementos repetidos só aparecem uma única vez no conjunto resultante
s6 = s1.union(s2)
s6

#### **Funções de tamanho, máximo, mínimo e soma em conjuntos**

Função | Descrição | Exemplo
:----- | :-------- | :------
len | Retorna o tamanho do conjunto | `len(conjunto)`
max  | Retorna o maior valor do conjunto | `max(conjunto)`
copy | Retorna o menor valor do conjunto | `min(conjunto)`
sum | Retorna a soma dos elementos de um conjunto | `sum(conjunto)`

In [ ]:
s1 = {9,7,5,3,2,1,0}

In [ ]:
#tamanho do conjunto
len(s1)

In [ ]:
#maior elemento do conjunto
max(s1)

In [ ]:
#menor elemento do conjunto
min(s1)

In [ ]:
#soma dos elementos do conjunto
sum(s1)

### **Strings**

Em Python, variáveis do tipo `str`, ou **strings**, são as variáveis que armazenam informações de texto (por exemplo: seu nome, seu endereço, o seu tipo sanguíneo, etc). Como em outras linguagens de programação, as strings em Python são uma sequência (ou uma cadeia) de caracteres. Por exemplo, a string `Jupyter Notebook`, cuja representação você pode ver na figura abaixo, é interpretada pelo Python como uma seqüência de caracteres em uma ordem específica.

<center><img src="https://github.com/paulosrl/imagens/blob/master/String.png?raw=true">
</center>

Ou seja, da mesma forma que em uma lista, cada caractere em uma string possui um índice. Em nosso exemplo, a letra `J` está armazenada no índice 0, a letra `u` no índice 1, e assim por diante. Através da indexação, portanto, podemos acessar uma única posição, ou várias posições.

Nessa aula veremos:

1. Como criar strings
2. Indexação
3. Slicing (fatiamento)
4. Operadores aplicados a strings
5. Imutabilidade das strings
6. Métodos do objeto string

#### **Criando strings**

Strings são criadas através de aspas simples (apóstrofos) ou aspas duplas (aspas).

In [ ]:
'Hello world!!!' # Usando apóstrofos para criar uma string

In [ ]:
"Hello world!!!" # Usando aspas para criar uma string

In [ ]:
"I'm a teacher." # Exemplo de uso de aspas e apóstrofos em um mesmo string

In [ ]:
'Ele é "bonito"... kkk' # Exemplo de uso de aspas e apóstrofos em um mesmo string

In [ ]:
# Criando uma variável string
nome = "Joaquim"

In [ ]:
# Exibindo o conteúdo da variável nome
nome

In [ ]:
# Em outras IDE's, a forma correta de mostrar o conteúdo de uma variável é através do print
print(nome)

In [ ]:
# Verificando o tipo da variável nome
type(nome)

In [ ]:
# Retornando o tamanho do string
len(nome)

#### **Indexação em strings**

Para acessarmos uma posição em particular, vamos utilizar os colchetes. Dentro de colchetes então colocamos o índice que desejamos acessar.

s\[índice\] => Acessa uma única posição.

In [ ]:
"""
Definindo a string s = "Python"

+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
  0   1   2   3   4   5
"""
s = "Python"
# Acessando cada caractere armazenado no string s
print(s[0]) # P
print(s[1]) # y
print(s[2]) # t
print(s[3]) # h
print(s[4]) # o
print(s[5]) # n

In [ ]:
"""
+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
 -6  -5  -4  -3  -2  -1
"""
# Acessando cada caractere armazenado no string s (utilizando índices decrescentes)
print(s[-6]) # P
print(s[-5]) # y
print(s[-4]) # t
print(s[-3]) # h
print(s[-2]) # o
print(s[-1]) # n

In [ ]:
# Acessando o caractere armazendo na última posição
# 1a opção
s[5]

In [ ]:
# Acessando o caractere armazendo na última posição
# 2a opção
s[len(s)-1]

In [ ]:
# Acessando o caractere armazendo na última posição
s[-1]

#### **Slicing (fatiamento) em strings**

Caso você deseje acessar mais de uma posição, você deve utilizar a técnica de *slicing* (ou fatiamento).

* `s[ind]` => Acessa uma única posição.
* `s[inicial:final]` => Acessa os caracteres armazenados entre os índices *ind_inicial* e *ind_inicial-1*
* `s[inicial:final:inc]` => Acessa os caracteres armazenados entre os índices *inicial* e *ind_inicial-1* com incremento *inc*

Em nosso exemplo vamos utilizar o string `Jupyter Notebook`.


<center><img src="https://github.com/paulosrl/imagens/blob/master/String.png?raw=true">
</center>

In [ ]:
# Redefinindo a string s
s = "Jupyter Notebook"

In [ ]:
# Retornando apenas a palavra Jupyter - 1a opção
s[0:7] # Estamos acessando o string s a partir do índice 0 até o índice 6

In [ ]:
# Retornando apenas a palavra Jupyter - 2a opção
s[-16:-9] # Estamos acessando o string s a partir do índice -16 até o índice -10

In [ ]:
# Retornando apenas a palavra Jupyter - 3a opção
s[:7] # Estamos acessando o string s a partir do início até o índice 6

In [ ]:
# Retornando apenas a palavra Jupyter - 4a opção
s[:-9] # Estamos acessando o string s a partir do início até o índice -10

In [ ]:
# Retornando apenas a palavra Notebook - 1a opção
s[8:16] # Estamos acessando o string s a partir do índice 8 até o índice 15

In [ ]:
# Retornando apenas a palavra Notebook - 2a opção
s[-8:] # Estamos acessando o string s a partir do índice -16 até o índice -9

In [ ]:
# Retornando apenas a palavra Notebook - 3a opção
s[8:] # Estamos acessando o string s a partir do início até o índice 6

In [ ]:
# Nós podemos acessar posições não contínuas
s[0:7:2] # Serão acessados os caracteres armazenados nas posiçõs 0, 2, 4 e 6 (o incremento informado foi 2)

In [ ]:
# Serão acessadas os caracteres armazenados desde o início até o final, com incremento de 3 (posições 0,3,6,9,12,15)
s[::3]

In [ ]:
# Com incrementos negativos, podemos acessar o string em ordem invertida - 1a opçao
s[-1::-1] # da posição -1 até o início, com incremento -1

In [ ]:
# Com incrementos negativos, podemos acessar o string em ordem invertida - 2a opçao
s[-1:-17:-1] # da posição -1 até a posição -16, com incremento -1

In [ ]:
# Com incrementos negativos, podemos acessar o string em ordem invertida - 3a opçao
s[16::-1] # da posição 16 até p início, com incremento -1

In [ ]:
# Com incrementos negativos, podemos acessar o string em ordem invertida - 4a opçao
s[::-1] # do final até o início, com incremento -1

In [ ]:
# Acessando partes do string, a partir do início
p = "Python"
print(p[:0]) # ''
print(p[:1]) # 'P'
print(p[:2]) # 'Py'
print(p[:3]) # 'Pyt'
print(p[:4]) # 'Pyth'
print(p[:5]) # 'Pytho'
print(p[:6]) # 'Python'
print(p[:])  # 'Python'

In [ ]:
print(p[0:1]) # 'P'
print(p[0:2]) # 'Py'
print(p[0:3]) # 'Pyt'
print(p[0:4]) # 'Pyth'
print(p[0:5]) # 'Pytho'
print(p[0:6]) # 'Python'
print(p[0:])  # 'Python'

In [ ]:
# Acessando partes do string, de uma posição qualquer até o final
print(p[:])  # 'Python'
print(p[0:]) # 'Python'
print(p[1:]) # 'ython'
print(p[2:]) # 'thon'
print(p[3:]) # 'hon'
print(p[4:]) # 'on'
print(p[5:]) # 'n'
print(p[6:]) # ''

#### **Operadores aplicados a strings**

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| s\[ind\] | Acesso a uma posição | `s[0]` |
| s\[i:f\] | Acesso a uma faixa de posições | `s[1:3]` |
| s\[i:f:inc\] | Acesso a uma faixa de posições com incremento | `s[0:15:3]` |
| s1 + s2 | Concatenação de strings | `novastr = s1 + s2` |
| s\*n | Retorna um string contendo n repetições de s | `s = 'ABC'*10` |
| s1 in s2 | Retorna True se o substring *s1* está contido em *s2* | `'ABC' in 'ABCDEFGH'` |
| s1 not in s2 | Retorna True se o substring *s1* não está contido em *s2* | `'XYZ' not in 'ABCDEFGH'` |

In [ ]:
s = "A linguagem Python é demais!"
s1 = "Python"
print(s[0])  # "A"
print(s[2:11]) # "linguagem"
print(s[::-1]) # ""!siamed é nohtyP megaugnil A"
s2 = s + " Sensacional!!!" # Concatenação
print(s2)
s3 = s1*3 # Concatenando o string s1 3 vezes
print(s3)
print("O substring '{}' está contindo em '{}' => {}".format(s1, s, s1 in s))
print("O substring '{}' não está contindo em '{}' => {}".format(s3, s2, s3 not in s2))

#### **Strings são imutáveis**

Vamos supor que queremos trocar um único caractere digitado errado em um string.

In [ ]:
s = "PythoM" # Python digitado com erro
s[5] = "n" # tentando corrigir, substituindo o caractere M armazenado no índice pelo n

In [ ]:
# como strings são IMUTÁVEIS, a única forma de alterar seu conteúdo é redefinindo a string
# Para corrigir vamos precisar redefinir o string
s = "Python"
s

#### **Métodos do objeto String**

| Método | Descrição | Exemplo |
|:------------|:---------------------------------------------------------------------------------------------|:--------------|
| [capitalize()](https://www.programiz.com/python-programming/methods/string/capitalize) | Retorna uma cópia da string com primeiro caractere maiúsculo e os caracteres restantes em minúsculo | `s.capitalize()`|
| [casefold()](https://www.programiz.com/python-programming/methods/string/casefold) | Retorna uma cópia da string convertido para letras minúsculas | `s.casefold()` |
| [center()](https://www.programiz.com/python-programming/methods/string/center) | Retorna uma cópia da string centralizada e preenchida com o caractere especificado (*default* = espaço em branco) | `s.center(20)` |
| [center()](https://www.programiz.com/python-programming/methods/string/center) | Retorna uma cópia da string centralizada e preenchida com o caractere especificado (*default* = espaço em branco) | `s.center(20, '*')` |
| [count()](https://www.programiz.com/python-programming/methods/string/count) | Retorna o número de ocorrências de um determinado substring | `s.count('abc')` |
| [encode()](https://www.programiz.com/python-programming/methods/string/encode) | Retorna uma cópia da string utilizando um determinando *encoding* (*default* = UTF-8)| `s.encode()`|
| [endswith()](https://www.programiz.com/python-programming/methods/string/endswith) | Retorna `True` se uma string terminar com o sufixo especificado | `s.endswith("python")` |
| [expandtabs()](https://www.programiz.com/python-programming/methods/string/expandtabs) | Retorna uma cópia da string no qual os caracteres de tabulação `\t` são substituídos por caracteres de espaço em branco | s.expandtabs(3)
| [find()](https://www.programiz.com/python-programming/methods/string/find) | Retorna o índice da primeira ocorrência da substring. Se não encontrado, retorna -1 | `s.find('python')` |
| [format()](https://www.programiz.com/python-programming/methods/string/format) | Formata a string de entrada em uma string de saída | `"{} é {}".format("Python", "demais!")` |
| [index()](https://www.programiz.com/python-programming/methods/string/index) | Retorna o índice da primeira ocorrência de uma substring dentro da string. Se a substring não for encontrada, levanta uma exceção | `s.index('python')`|
| [isalnum()](https://www.programiz.com/python-programming/methods/string/isalnum) | Retorna `True` se todos os caracteres na string forem alfanuméricos (letras ou números) | `s.isalnum()`|
| [isalpha()](https://www.programiz.com/python-programming/methods/string/isalpha) | Retorna `True` se a string tiver apenas letras |`s.isalpha()`|
| isascii() | Retorna True se todos os caracteres na string forem ASCII | `s.isascii()`|
| [isdecimal()](https://www.programiz.com/python-programming/methods/string/isdecimal) | Retorna `True` se todos os caracteres na string forem decimais (0 a 9) | `s.isdecimal()` |
| [isdigit()](https://www.programiz.com/python-programming/methods/string/isdigit) | Retorna `True` se todos os caracteres na string forem dígitos (ex: 3²) | `s.isdigit()`|
| [isidentifier()](https://www.programiz.com/python-programming/methods/string/isidentifier) | Retorna `True` se a string for um identificador válido em Python | `s.isidentifier()`|
| [islower()](https://www.programiz.com/python-programming/methods/string/islower) | Retorna `True` se todos as letras da string forem letras minúsculas | `s.islower()` |
| [isnumeric()](https://www.programiz.com/python-programming/methods/string/isnumeric) | Retorna `True` se todos os caracteres na string forem numéricos (ex: ½) | `s.isnumeric()`|
| [isprintable()](https://www.programiz.com/python-programming/methods/string/isprintable) | Retorna `True` se todos os caracteres da string podem ser impressos | `s.isprintable()`|
| [isspace()](https://www.programiz.com/python-programming/methods/string/isspace) | Retorna `True` se houverem apenas espaços em branco na string | `s.isspace()` |
| [istitle()](https://www.programiz.com/python-programming/methods/string/istitle) | Retorna `True` se a string estiver em formato de *título*, ou seja, se cada palavra da string começa com letra maiúscula e tem o restante das letras minúsculas | `s.istitle()`|
| [isupper()](https://www.programiz.com/python-programming/methods/string/isupper) | Retorna `True` se todos as letras do string forem letras maiúsculas | `s.isupper()` |
| [ljust()](https://www.programiz.com/python-programming/methods/string/ljust) | Retorna uma cópia da string justificada à esquerda| `s.ljust(20)`|
| [lower()](https://www.programiz.com/python-programming/methods/string/lower) | Retorna uma cópia da string com as letras maiúsculas convertidas em minúsculas | `s.lower()`|
| [lstrip()](https://www.programiz.com/python-programming/methods/string/lstrip) | Retorna uma cópia da string com os caracteres passados por parâmetro removidos do início da string | `s.lstrip(' *@')` |
| [partition()](https://www.programiz.com/python-programming/methods/string/partition) | Divide a string e retorna uma tupla contendo a parte antes do separador (primeira ocorrência), a string de argumento (separador) e a parte após o separador | `s.partition('@')`|
| [replace()](https://www.programiz.com/python-programming/methods/string/replace) | Retorna uma cópia da string onde todas as ocorrências de uma substring são substituídas por outra | `s.partition('@',' at ')`|
| [rfind()](https://www.programiz.com/python-programming/methods/string/rfind) | Retorna o índice da última ocorrência da substring. Se não encontrado, retorna -1 | `s.rfind('python')` |
| [rindex()](https://www.programiz.com/python-programming/methods/string/rindex) | Retorna o índice da última ocorrência da substring dentro da string. Se a substring não for encontrada, levanta uma exceção | `s.rindex('python')`|
| [rjust()](https://www.programiz.com/python-programming/methods/string/rjust) | Retorna uma cópia da string justificada à direita | `s.rjust(20)`|
| [rpartition()](https://www.programiz.com/python-programming/methods/string/partition) | Divide a string e retorna uma tupla contendo a parte antes do separador (última ocorrência), a string de argumento (separador) e a parte após o separador | `s.rpartition('@')`|
| [rsplit()](https://www.programiz.com/python-programming/methods/string/rsplit) | Divide a string à partir da direita (última posição), usando um separador passado por parâmetro, e retorna uma lista de strings| `s.rsplit(';')`|
| [rstrip()](https://www.programiz.com/python-programming/methods/string/rstrip) | Retorna uma cópia da string com os caracteres passados por parâmetro removidos do final da string | `s.rstrip('!?.')` |
| [split()](https://www.programiz.com/python-programming/methods/string/split) | Divide a string à partir da esquerda (primeira posição), usando um separador passado por parâmetro, e retorna uma lista de strings| `s.split(';')`|
| [splitlines()](https://www.programiz.com/python-programming/methods/string/splitlines) | Divide e retorna as linhas contidas em uma string  | `s.splitlines()`|
| [starstwith()](https://www.programiz.com/python-programming/methods/string/startswith) | Retorna `True` se uma string começar com o prefixo especificado | `s.starstwith("Python")` |
| [strip()](https://www.programiz.com/python-programming/methods/string/strip) | Retorna uma cópia da string com os caracteres passados por parâmetro removidos do início e do final da string | `s.strip(' *@')` |
| [swapcase()](https://www.w3schools.com/python/ref_string_swapcase.asp) | Retorna uma cópia da string com letras minúsculas convertidas em maiúsculas e vice-versa | `s.swapcase()`|
| [title()](https://www.programiz.com/python-programming/methods/string/title) | Retorna uma cópia da string com a primeira letra de cada palavra convertida para maiúscula | `s.title()` |
| [upper()](https://www.programiz.com/python-programming/methods/string/upper) | Retorna uma cópia da string com as letras minúsculas convertidas em maiúsculas | `s.upper()`|
| [zfill()](https://www.programiz.com/python-programming/methods/string/zfill) | Retorna uma cópia da string preenchida com 0s (zeros) à esquerda | `s.zfill(8)`|

##### Exemplo do método capitalize()

In [ ]:
s = "a linguagem python é demais!"
s.capitalize()

In [ ]:
# Importante ressaltar que a string s não foi alterada
s

In [ ]:
s1 = s.capitalize()
print(s)
print(s1)

##### Exemplo dos métodos casefold(),  lower() e upper()

In [ ]:
s = "AbCdEf"
s1 = s.casefold()
s1

In [ ]:
s2 = s.lower()
s2

In [ ]:
s3 = s.upper()
s3

In [ ]:
# casefold() é mais agressivo em sua conversão se comparado ao lower()
s4 = "Der Fluß"
s5 = s4.casefold()
s5

In [ ]:
s6 = s4.lower()
s6

##### Exemplo do método center()

In [ ]:
s = "PYTHON"
s

In [ ]:
s1 = s.center(20) # Centralizar s em um string de tamanho 20 - completa com espaços a esquerda e direita
s1

In [ ]:
s2 = s.center(30, "*") # Centralizar s em um string de tamanho 30 - completa com espaços a esquerda e direita
s2

##### Exemplo do método count()

In [ ]:
s = "A linguagem Python é demais!"
s.count("a")

In [ ]:
s.count("A")

In [ ]:
s.count("b")

In [ ]:
s.count("demais")

##### Exemplo do método encode()

In [ ]:
s = "Mоето име е Päivi"
s1 = s.encode() # Codifica usando o UTF-8 por padrão
s1

##### Exemplo dos métodos endswith() e startswith()

In [ ]:
s = "A linguagem Python é demais!"
s.endswith("demais") # False

In [ ]:
s.endswith("demais!") # True

In [ ]:
s.endswith("demais!", 12) # True - Verifica se o substring a partir da posição 12 terminar com "demais!"

In [ ]:
s[2:18] # Substring formado da posição 2 à 17

In [ ]:
s.endswith("Python", 2, 18) # True

In [ ]:
s.startswith("A l") # True

In [ ]:
s.startswith("Python") # False

In [ ]:
s.startswith("Python", 12) # True

##### Exemplo do método expandtabs()

In [ ]:
s = "col1\tcol2\tcol3"
print(s)

In [ ]:
s1 = s.expandtabs() # Substitui as tabulações por espaços (default = 8)
print(s1)

In [ ]:
print("Tabsize =  5",s.expandtabs(5))
print("Tabsize =  6",s.expandtabs(6))
print("Tabsize =  7",s.expandtabs(7))
print("Tabsize =  8",s.expandtabs())
print("Tabsize =  9",s.expandtabs(9))
print("Tabsize = 10",s.expandtabs(10))

##### Exemplo dos métodos find(), rfind(), index() e rindex()

In [ ]:
s = "A linguagem Python é demais! Python é sensacional."
s.find("Python") # Procura pelo substring "Python" no string s usando o método find()

In [ ]:
s.rfind("Python") # Procura pelo substring "Python" no string s usando o método rfind()

In [ ]:
s.index("Python") # Procura pelo substring "Python" no string s usando o método index()

In [ ]:
s.rindex("Python") # Procura pelo substring "Python" no string s usando o método rindex()

In [ ]:
s.find("python") # Procura pelo substring "python" no string s usando o método find()

In [ ]:
s.rfind("python") # Procura pelo substring "python" no string s usando o método rfind()

In [ ]:
s.index("python") # Procura pelo substring "python" no string s usando o método index()

In [ ]:
s.rindex("python") # Procura pelo substring "python" no string s usando o método rindex()

In [ ]:
s1 = "Olá! Este é um exemplo. Este é outro exemplo."
s1.find("Este") # Procura pelo substring "Este" no string s usando o método find()

In [ ]:
s1.rfind("Este") # Procura pelo substring "Este" no string s usando o método rfind()

In [ ]:
s1.index("Este") # Procura pelo substring "Este" no string s usando o método index()

In [ ]:
s1.rindex("Este") # Procura pelo substring "Este" no string s usando o método rindex()

In [ ]:
s1.find("Este", 15) # Procura pelo substring "Este" no string s, a partir do índice 15 usando o método find()

In [ ]:
s1.index("Este", 15) # Procura pelo substring "Este" no string s, a partir do índice 15 usando o método index()

In [ ]:
s1.find("Este", 10, 20) # Procura pelo substring "Este" no string s, entre os índices 10 e 19 usando o método find()

In [ ]:
s1.index("Este", 10, 20) # Procura pelo substring "Este" no string s, entre os índices 10 e 19 usando o método index()

##### Exemplo do método format()

In [ ]:
nome = "Joaquim"
idade = 60
print("Meu nome é {} e tenho {} anos.".format(nome, idade))

In [ ]:
print("Meu nome é {0} e tenho {1} anos.".format(nome, idade))

In [ ]:
print("Meu nome é {} e tenho {} anos.\nRepetindo... Meu nome é {} e tenho {} anos.".format(nome, idade, nome, idade))

In [ ]:
print("Meu nome é {0} e tenho {1} anos.\nRepetindo... Eu tenho {1} anos e meu nome é {0}.".format(nome, idade))

In [ ]:
print("Meu nome é {name} e tenho {age} anos.".format(age=18, name="Pedro"))

##### Exemplo do método isalnum()

In [ ]:
s = "D3C1FR4NDO"
s.isalnum()

In [ ]:
s1 = "D3C1FR4NDO 0 CÓD1G0"
s1.isalnum() # Falso por causa da presença de espaços

##### Exemplo do método isalpha()

In [ ]:
s = "D3C1FR4NDO"
s.isalpha()

In [ ]:
s1 = "CÓDIGO"
s1.isalpha()

In [ ]:
s2 = "DECIFRANDO O CODIGO"
s2.isalpha()

##### Exemplo do método isascii()

In [ ]:
cidade = 'ӓmsterdӓm'
cidade.isascii()

In [ ]:
cidade = 'amsterdam'
cidade.isascii()

A tabela [ASCII](https://pt.wikipedia.org/wiki/ASCII) é composta por 128 "caracteres" (sendo a maioria caracteres "imprimíveis") e não contempla caracteres acentuados.

##### Exemplo dos métodos isdecimal(), isdigit() e isnumeric()

* isdecimal() => 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
* isdigit()   => caracteres decimais + subscrito e sobrescrito
* isnumeric   => caracteres decimais + subscrito e sobrescrito + caracteres UNICODE que representem frações, números romanos, etc

In [ ]:
a = "12345"
b = "1234²"
c = "123²½"
print("a.isdecimal() = ", a.isdecimal())
print("b.isdecimal() = ", b.isdecimal())
print("c.isdecimal() = ", c.isdecimal())
print("="*25)
print("a.isdigit() = ", a.isdigit())
print("b.isdigit() = ", b.isdigit())
print("c.isdigit() = ", c.isdigit())
print("="*25)
print("a.isnumeric() = ", a.isnumeric())
print("b.isnumeric() = ", b.isnumeric())
print("c.isnumeric() = ", c.isnumeric())

##### Exemplo do método isidentifier()

In [ ]:
s = "i23ER21"
s.isidentifier()

In [ ]:
s = "_i23ER21"
s.isidentifier()

In [ ]:
s = "nome-aluno"
s.isidentifier()

In [ ]:
s = "nome aluno"
s.isidentifier()

In [ ]:
s = "nome_aluno"
s.isidentifier()

##### Exemplo dos métodos islower() e isupper()

In [ ]:
s = "nome_aluno"
s.islower()

In [ ]:
s.isupper()

In [ ]:
s1 = "nomeAluno"
s1.islower()

In [ ]:
s1.isupper()

In [ ]:
s2 = "minha senh@ é 1234"
s2.islower()

In [ ]:
s2.isupper()

In [ ]:
s3 = "TUDO MAIÚSCULO!!!"
s3.islower()

In [ ]:
s3.isupper()

##### Exemplo do método isprintable()

In [ ]:
s = "col1\tcol2"
s.isprintable()

In [ ]:
s1 = s.expandtabs()
s1.isprintable()

In [ ]:
s2 = "linha1\nlinha2"
s2.isprintable()

#####Exemplo do método isspace()

In [ ]:
s1 = "A B"
s1[0].isspace()

In [ ]:
s1[1].isspace()

In [ ]:
s1[2].isspace()

##### Exemplo do método istitle()

In [ ]:
titulo = "A Linguagem Python"
titulo.istitle()

In [ ]:
titulo = "A Linguagem de Programação Python" # de => False
titulo.istitle()

In [ ]:
titulo = "A Linguagem DE Programação Python" # DE => False
titulo.istitle()

In [ ]:
titulo = "A Linguagem De Programação Python"
titulo.istitle()

##### Exemplo dos métodos ljust() e rjust()

In [ ]:
s = "Esquerda".ljust(20)
s

In [ ]:
s1 = "Direita".rjust(20)
s1

In [ ]:
s2 = "Esquerda".ljust(20,"<")
s2

In [ ]:
s3 = "Direita".rjust(20,">")
s3

##### Exemplo dos métodos lstrip(), rstrip() e strip()

In [ ]:
s = "      ABC   "
s1 = s.lstrip()
s1

In [ ]:
s2 = s.rstrip()
s2

In [ ]:
s3 = s.strip()
s3

In [ ]:
link = "https://www.python.org/"
s4 = link.lstrip("hpst:/")
s4

In [ ]:
s5 = link.rstrip("hpst:/")
s5

In [ ]:
s6 = link.strip("hpst:/")
s6

##### Exemplo dos métodos partition(), rpartition(), split() e rsplit()

In [ ]:
email = "pessoa@dominio.com.br"

In [ ]:
t1 = email.partition("@")
t1

In [ ]:
type(t1)

In [ ]:
l1 = email.split("@")
l1

In [ ]:
type(l1)

In [ ]:
l2 = email.rsplit("@")
l2

In [ ]:
t2 = email.partition(".")
t2

In [ ]:
l3 = email.split(".")
l3

In [ ]:
l4 = email.rsplit(".")
l4

In [ ]:
l5 = email.split(".", 1)
l5

In [ ]:
l6 = email.rsplit(".", 1)
l6

In [ ]:
seq = "012.345.678.910"
t3 = seq.partition(".")
t3

In [ ]:
t4 = seq.rpartition(".")
t4

In [ ]:
print(seq.split("."))
print(seq.split(".", 1))
print(seq.split(".", 2))
print(seq.split(".", 3))

In [ ]:
print(seq.rsplit("."))
print(seq.rsplit(".", 1))
print(seq.rsplit(".", 2))
print(seq.rsplit(".", 3))

##### Exemplo do método replace()

In [ ]:
msg = "Minha biblioteca favorita é numpy."
print(msg)
msg2 = msg.replace("numpy", "pandas")
print(msg2)

In [ ]:
msg3 = "Eu gosto de cães. Os cães são muito legais. Os cães são companheiros."
print(msg3)
msg4 = msg3.replace("cães", "labradores", 2)
print(msg4)

##### Exemplo do método splitlines()

In [ ]:
s = "Essa é\numa\nstring\n\ncom várias\nlinhas"
print(s)

In [ ]:
linhas = s.splitlines()

In [ ]:
linhas

In [ ]:
type(linhas)

##### Exemplo do método swapcase()

In [ ]:
s = "MAIÚSCULO | minúsculo!"
s1 = s.swapcase()
print(s)
print(s1)

##### Exemplo do método title()

In [ ]:
titulo = "a linguagEm de programação pyThon"
novo_titulo = titulo.title()
print(novo_titulo)

##### Exemplo do método zfill()

In [ ]:
cod_prod1 = "123".zfill(6)
cod_prod1

In [ ]:
cod_prod2 = "234".zfill(8)
cod_prod2

In [ ]:
cod_prod3 = "123456".zfill(5)
cod_prod3

### **Dicionários (dict)**

São estruturas de dados que implementam mapeamentos.
 * Um mapeamento é uma coleção de associações entre pares de valores;
 * O primeiro elemento do par é chamado de chave e o outro de
conteúdo;
 * Ao invés de um índice, usamos a *chave* para recuperar um *valor*.

Neste tópico serão abordados os seguintes assuntos:

1. Como criar dicionários
2. Acessando um valor em um dicionário através de uma chave
3. Modificando valores em um dicionário
4. Principais métodos de um objeto dicionário

#### **Como criar dicionários ou mapas (estrutura muito importante)**

In [ ]:
# Criando dicionários vazios
dic_vazio1 = {}
dic_vazio2 = dict()

In [ ]:
# Visualizando o tipo de dic_vazio1
type(dic_vazio1)

In [ ]:
# Verificando se dic_vazio2 é uma instância de dict, ou seja se é um tipo dicionário
isinstance(dic_vazio2, dict)

In [ ]:
# Criando dicionários com pares chave/valor
# Dicionário de estados: chave é a sigla do estado e valor é o nome completo
dic_estados = { "PA":"Pará", "CE": "Ceará", "BA": "Bahia", "RN": "Rio Grande do Norte", "AM": "Amaznas"}
# Obs: o nome do estado Amazonas foi digitado errado de forma intencional
dic_estados

**Notar que as chaves são adicionadas em ordem crescente**

In [ ]:
# Dicionário de produtos: chave é o código e valor é a descrição do produto
dic_produtos = {1215:"Lápis", 3221:"Caneta", 2329:"Borracha", 1092:"Caderno", 7633:"Cola"}
dic_produtos

In [ ]:
# Dicionário de alunos: chave é o nome e valor é uma lista com 3 notas do aluno
dic_notas_alunos = {"João":[30, 12, 21], "Maria": [20, 30, 29], "José": [20, 23, 19]}
dic_notas_alunos

In [ ]:
# Dicionário de alunos 2: chave é o nome e valor é um outro dicionário contendo as 3 notas do aluno
dic_notas_alunos2 = {"João": {"nota1": 30, "nota2": 12, "nota3": 21},
                     "Maria": {"nota1": 20, "nota2": 30, "nota3": 29},
                     "José": {"nota1": 20, "nota2": 23, "nota3": 19},
                    }
dic_notas_alunos2

#### **Acessando um valor em um dicionário através de uma chave**

In [ ]:
# Acessando o valor associado à chave "PA"
dic_estados["PA"]

In [ ]:
# Acessando o valor associado à chave "PA" dentro de um comando print
print("Estado do nascimento: "+dic_estados["PA"]+".")

In [ ]:
# Se a chave não existir, é retornado um erro
dic_estados["XYZ"]

In [ ]:
# Acessando o valor associado à chave 2329 em produtos
dic_produtos[2329]

In [ ]:
# Acessando o valor associado à chave "Maria" no dicionário dic_notas_aluno
nome_aluno = "Maria"
print("As notas de "+nome_aluno+" foram: "+str(dic_notas_alunos[nome_aluno])+".")

In [ ]:
print(nome_aluno+" tirou "+str(dic_notas_alunos[nome_aluno][0])+" pontos na 1a prova.")

In [ ]:
# Acessando a nota da primeira prova do João no dicionário dic_notas_alunos2
dic_notas_alunos2["João"]["nota1"]

#### **Modificando valores em um dicionário**

In [ ]:
# Visualizando o dicionário dic_estados
dic_estados

In [ ]:
# Corrigindo o nome do estado Amazonas
dic_estados["AM"] = "Amazonas"
dic_estados

In [ ]:
# Visualizando o dicionário dic_notas_alunos
dic_notas_alunos

In [ ]:
# Alterando a segunda nota de João para 22
dic_notas_alunos["João"][1] = 22
dic_notas_alunos

In [ ]:
# Alterando todas as notas de Maria.
# Essa alteração não será feita nota a nota, mas atribuindo uma nova lista com as notas corretas
dic_notas_alunos["Maria"] = [25, 20, 22]
dic_notas_alunos

In [ ]:
# Visualizando o dicionário dic_notas_alunos2
dic_notas_alunos2

In [ ]:
# Alterando a terceira nota do José para 25
dic_notas_alunos2["José"]["nota3"] = 25
dic_notas_alunos2

#### **Principais métodos de um objeto dicionário**

Método | Descrição | Exemplo
:----- | :-------- | :------
clear  | Apaga todos os elementos de um dicionário | `dic.clear()`
copy | Retorna uma cópia dos elementos de um dicionário | `dic_copia = dic.copy()`
fromkeys | Retorna um dicionário a partir de uma sequência de chaves | `exemplo = dic.fromkeys({"k1", "k4", "k5"})`
get | Retorna o valor associado a uma chave | `dic.get("k1")`
 |  | `dic.get("k1", 0)`
items | Retorna uma visão dos pares chave/valor de um dicionário | `dic.items()`
keys | Retorna uma visão das chaves de um dicionário | `dic.keys()`
pop | Remove e retorna o elemento associado à chave passada por parâmetro (provoca erro se a chave não existir) | `dic.pop(2)`
popitem | Remove e retorna o último elemento adicionado ao dicionário | `dic.popitem()`
setdefault | Retorna o valor associado a uma chave (se a chave existir). Caso não exista, insere a chave com o valor (opcional) no dicionário | `dic.setdefault(2, "dois")`
update | Adiciona ao dicionário os pares de chave/valor de outro dicionário passado por parâmetro | `dic.update(dic2)`
values | Retorna uma visão dos valores de um dicionário | `dic.values`

In [ ]:
# Criando um dicionário exemplo
dic_exemplo = {1:"um", 2:"dois", 3:"três", 4:"quatro"}
dic_exemplo

##### **clear()**

In [ ]:
# Removendo os elementos de dic_exemplo
dic_exemplo.clear()
dic_exemplo

##### **copy()**

In [ ]:
# Redefinido dic_exemplo
dic_exemplo = {1:"um", 2:"dois", 3:"três", 4:"quatro"}
dic_exemplo

In [ ]:
# Criando uma cópia de dic_exemplo usando o método copy()
dic_exemplo2 = dic_exemplo.copy()
dic_exemplo2

**Obs:** Se simplesmente atribuirmos dic_exemplo a dic_exemplo2 (**`dic_exemplo2 = dic_exemplo`**), não estaremos copiando seus elementos, mas criando uma **referência** (ou um apelido).

##### **fromkeys()**

In [ ]:
# Criando um novo dicionário a partir da seleção das chaves que desejamos
dic_num_pares = dict.fromkeys([2, 4, 6, 8, 10])
dic_num_pares

In [ ]:
# Se desejarmos atribuir um valor default, basta informar após a lista com as chaves
dic_num_pares = dict.fromkeys([2, 4, 6, 8, 10], "par")
dic_num_pares

##### **get()**

In [ ]:
# O método get retorna o valor associado a uma chave
# Visualizando o valor associado à chave 2
dic_exemplo.get(2)

##### **items()**

In [ ]:
# Visualizando os pares chave/valor do dicionário (chave e valor)
dic_exemplo.items()

##### **keys()**

In [ ]:
# Visualizando as chaves de um dicionário (chaves)
dic_exemplo.keys()

##### **pop()**

In [ ]:
# Removendo o par chave/valor associado à chave 1
dic_exemplo.pop(1)
dic_exemplo

In [ ]:
# Podemos remover e armazenar o valor removido em uma variável
valor = dic_exemplo.pop(4)
dic_exemplo

In [ ]:
# Visualizando o conteúdo armazenado na variável valor
valor

**Como remover o estado de Tocantins do dicionário Centro Oeste?**

In [ ]:
# Numa primeira versão desse Notebook, o exemplo do pop() seria a remoção do estado de Tocantins,
# que não faz parte da região Centro-Oeste, mas da região Norte. Para removermos Tocantins do dicionário,
# usamos então o método pop(), passando por parâmetro a sigla do estado "TO"
dic_estados_centro_oeste.pop("TO")

##### **popitem()**

In [ ]:
# Removendo o último par chave/valor adicionado ao dicionário
removido = dic_num_pares.popitem()

In [ ]:
# Visualizando o valor removido
removido

In [ ]:
# Visualizando o dicionário após a remoção do último par chave/valor
dic_num_pares

##### **setdefault()**

In [ ]:
# Verificando o valor associado à chave "PA"
dic_estados.setdefault("PA")

In [ ]:
# Verificando o valor associado à chave "ES".
dic_estados.setdefault("ES")
# Como essa chave não existe, ela é adicionada pelo método setdefault ao dicionário com o valor None

In [ ]:
# Visualizando o conteúdo de dic_estados
dic_estados

In [ ]:
# Nesse caso foi passado que o valor "Santa Catarina"
dic_estados.setdefault("SC", "Santa Catarina")

In [ ]:
# Visualizando o conteúdo de dic_estados
dic_estados

##### **update()**

In [ ]:
# Definindo o dicionário dic_estados_centro_oeste com alguns dos estados da região Centro Oeste
# O estado do Tocantins foi inserido de forma errada na região de forma proposital
dic_estados_centro_oeste = {"MS": "Mato Grosso do Sul", "TO": "Tocantins", "GO": "Goiás"}
dic_estados_centro_oeste

In [ ]:
# Adicionando os estados do Centro Oeste ao dicionário dic_estados
dic_estados.update(dic_estados_centro_oeste)
dic_estados

##### **values()**

In [ ]:
# Visualizando os valores de um dicionário
dic_estados.values()